<head>
    <link type="text/css" rel="stylesheet" href="assets/style/css/materialize.css">
    <style> footer{background: #fbfafa !important}</style>
</head>
<div class="col-md-5">
    <div class="contact-form">


        <!--INFORMATION PANEL -->
        <section id="section1">
            <h6>BOOK YOUR HEALTH CHECKUP NOW<br>
            </h6>
            <form action="#" method="post">
                <div class="col-md-12">
                    <div class="input-field col s12">
                        <select class="package_view">
                            <option value="" disabled="" selected="">Choose your package</option>
                            <option value="1">Healthians Diabetic Extended Checkup</option>
                            <option value="2">Healthians Diabetic Checkup</option>
                            <option value="3">Basic Screening Package</option>
                            <option value="4">Healthians Full Body Checkup</option>
                            <option value="5">Basic Screening Package</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-spacing">
                    <input type="text" value="" name="name" required="" placeholder="Mobile Number">
                    <span class="error">Error</span> </div>
                <div class="col-md-12 form-spacing">
                    <input type="email" value="" name="email" placeholder="Email Id">
                    <span class="error">Error</span> </div>
                <div class="col-md-12 form-spacing">
                    <input type="text" value="" name="name" required="" placeholder="Your name">
                    <span class="error">Error</span> </div>

                <!--age -->
                <div class="col-md-6 form-spacing-age">
                    <p>Gender</p>
                    <div class="col-md-6 checkbox-wrap">
                        <input name="gender" type="radio" class="with-gap" id="test1" value="Male">
                        <label for="test1">Male</label>
                    </div>
                    <div class="col-md-6 checkbox-wrap">
                        <input name="gender" type="radio" class="with-gap" id="test2" value="Male">
                        <label for="test2">Female</label>
                    </div>
                </div>
                <div class="col-md-6 form-spacing-age">
                    <div class="col-md-12 checkbox-wrap">
                        <input type="text" value="" name="name" style="margin-top:4px;" required="" placeholder="Age">
                        <span class="error">Error</span> </div>
                </div>
                <!--age -->

                <div class="col-md-12 form-spacing">
                    <input type="text" value="" name="name" required="" placeholder="Select locality">
                    <span class="error">Error</span> </div>
                <div class="col-md-12 form-spacing">
                    <input type="text" value="" name="name" required="" placeholder="Pincode">
                    <span class="error">Error</span> </div>
                <div class="col-md-12 form-spacing">
                    <textarea type="text" id="form8" class="md-textarea" placeholder="Complete Address"></textarea>
                </div>



                <div class="col-md-12">
                    <button class="waves-effect waves-light btn slide-toggle" onclick="show_div()">Submit</button>
                </div>
                <div class="clear"></div>
                <div class="col-md-12 need-help">Need booking assistance? Call us at <span style="color:#00a0a8;">011-33-99-99-33</span> </div>
            </form>
        </section>
        <!--INFORMATION PANEL -->





        <!--SLOT PANEL -->
        <div id="section2" style="display:none;">

            <h6>Schedule Lab Test Booking</h6>

            <span style="color:#333; display:block; text-align:center; padding:0px 10px 10px 20px;">CHOOSE A SLOT</span>
            <div class="time-container">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">Wed, Jan 11</a></li>
                    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">Thurs, Jan 12</a></li>
                    <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab">Fri, Jan 13</a></li>
                    <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab">Sat, Jan 14</a></li>
                    <li role="presentation"><a href="#tab5" role="tab" data-toggle="tab">Sun, Jan 15</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">

                        <div class="timings">

                            <ul>
                                <li><a href="#">06:00 AM - 07:00 AM</a></li>
                                <li><a href="#">06:30 AM - 07:30 AM</a></li>
                                <li><a href="#">09:30 AM - 10:30 AM</a></li>
                                <li><a href="#">06:00 AM- 07:00 AM</a></li>
                                <li><a href="#">10:00 AM - 11:00 AM</a></li>
                                <li><a href="#">11:00 AM - 12:30 AM</a></li>
                                <li><a href="#">12:00 AM - 01:00 PM</a></li>
                                <li><a href="#">12:30 AM - 01:30 PM</a></li>
                            </ul>
                        </div>



                    </div>



                    <div role="tabpanel" class="tab-pane" id="tab2">
                        <div class="timings">

                            <ul>
                                <li><a href="#" class="selected">06:00 AM - 07:00 AM</a></li>
                                <li><a href="#">06:30 AM - 07:30 AM</a></li>
                                <li><a href="#">09:30 AM - 10:30 AM</a></li>
                                <li><a href="#">06:00 AM- 07:00 AM</a></li>
                                <li><a href="#">10:00 AM - 11:00 AM</a></li>
                                <li><a href="#">11:00 AM - 12:30 AM</a></li>
                                <li><a href="#">12:00 AM - 01:00 PM</a></li>
                                <li><a href="#">12:30 AM - 01:30 PM</a></li>
                            </ul>
                        </div>
                    </div>




                    <div role="tabpanel" class="tab-pane" id="tab3">
                        <div class="timings">

                            <ul>
                                <li><a href="#">06:00 AM - 07:00 AM</a></li>
                                <li><a href="#">06:30 AM - 07:30 AM</a></li>
                                <li><a href="#">09:30 AM - 10:30 AM</a></li>
                                <li><a href="#">06:00 AM- 07:00 AM</a></li>
                                <li><a href="#">10:00 AM - 11:00 AM</a></li>
                                <li><a href="#">11:00 AM - 12:30 AM</a></li>
                                <li><a href="#">12:00 AM - 01:00 PM</a></li>
                                <li><a href="#">12:30 AM - 01:30 PM</a></li>
                            </ul>
                        </div>
                    </div>



                    <div role="tabpanel" class="tab-pane" id="tab4">
                        <div class="timings">

                            <ul>
                                <li><a href="#">06:00 AM - 07:00 AM</a></li>
                                <li><a href="#">06:30 AM - 07:30 AM</a></li>
                                <li><a href="#">09:30 AM - 10:30 AM</a></li>
                                <li><a href="#">06:00 AM- 07:00 AM</a></li>
                                <li><a href="#">10:00 AM - 11:00 AM</a></li>
                                <li><a href="#">11:00 AM - 12:30 AM</a></li>
                                <li><a href="#">12:00 AM - 01:00 PM</a></li>
                                <li><a href="#">12:30 AM - 01:30 PM</a></li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab5">
                        <div class="timings">

                            <ul>
                                <li><a href="#">06:00 AM - 07:00 AM</a></li>
                                <li><a href="#">06:30 AM - 07:30 AM</a></li>
                                <li><a href="#">09:30 AM - 10:30 AM</a></li>
                                <li><a href="#">06:00 AM- 07:00 AM</a></li>
                                <li><a href="#">10:00 AM - 11:00 AM</a></li>
                                <li><a href="#">11:00 AM - 12:30 AM</a></li>
                                <li><a href="#">12:00 AM - 01:00 PM</a></li>
                                <li><a href="#">12:30 AM - 01:30 PM</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <button class="waves-effect waves-light btn slide-toggle" onclick="show_div()">Proceed</button>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-12 need-help">Need booking assistance? Call us at <span style="color:#00a0a8;">011-33-99-99-33</span> </div>


                </div>
            </div>







        </div>
        <!--SLOT PANEL -->



        <!--PAYMENT PANEL -->
        <section id="section3">




            <div class="col-md-12" style="padding-top:15px;">

                <div class="col-md-4">
                    <p style="line-height:36px;">Enter a Coupon</p>
                </div>

                <div class="col-md-8">
                    <input type="text" value="" name="name" required="" placeholder="Enter coupon">
                </div>





            </div>

            <div class="clear"></div>

            <div class="col-md-12 pay-type">
                <h2>I would like to pay :</h2>
                <ul>
                    <li>
                        <input name="a1" type="radio" class="with-gap" id="a1" value="a1">
                        <label for="a1">Pay with PayTm</label>
                    </li>




                    <li>
                        <input name="a1" type="radio" class="with-gap" id="a2" value="a1">
                        <label for="a2">Pay with MobiKwik</label>
                    </li>




                    <li>
                        <div class="paybuttons">
                            <input type="radio" id="radio2" class="with-gap" name="radio" ng-model="payradio" value="mobikwik" tabindex="2">
                            <label for="radio2">Pay with Credit Card / Debit Card / Netbanking / PayU Wallet</label>
                        </div>
                    </li>


                    <li>
                        <div class="paybuttons">
                            <input type="radio" id="radio4" with-gap="" name="radio" ng-model="payradio" value="cash" tabindex="4">
                            <label for="radio4"><span></span>Cash/Card on Sample Collection (Card Swiping Machine available)</label>
                            <div class="paybuttons"> </div>
                        </div>
                    </li>
                </ul>

                <div class="clear"></div>



            </div>

            <form action="#" method="post">


                <div class="col-md-12">
                    <button class="waves-effect waves-light btn slide-toggle">Complete Order</button>
                </div>

                <div class="col-md-12" style="display:block; text-align:center; padding:15px 0px;">Thankyou for the booking. Please check the order summary</div>
                <div class="clear"></div>
                <div class="col-md-12 need-help">Need booking assistance? Call us at <span style="color:#00a0a8;">011-33-99-99-33</span> </div>
            </form>
        </section>

        <!--PAYMENT PANEL -->







    </div>
</div>