<!--ORDER BOOK FAMILY STARTS HERE -->
<div class="popUpcontainer">
    <div class="booking-wrap">
        <div class="familycontainer">
            <div class="top-header">
                <h1>Select tests for your family member</h1>
                <p>You can select multiple family members</p>
            </div>
            <div class="clear"></div>
            <!--family section -->
            <div class="row">
                <!--members -->
                <div class="col-lg-10 familywrap">
                    <!--member 01 -->
                    <div class="familyContainer col-lg-3" id="question-container-1">
                        <div class="my_Family">
                            <div class="checkbox_input">
                                <input id="id_1" type="checkbox" name="id_1" value="Label1">
                                <label class="checkbox" for="Option"></label>
                            </div>
                            <div class="family-member-info" style="display:none;">
                                <span class="fm-username">Pradeep Kumar Singh</span>
                                <span class="fm-age">26 Years</span>
                                <span class="fm-gender">Male</span>
                                <span class="fm-for">Self</span>
                                <span class="fm-mob">+91-9874563210</span>
                                <span class="fm-editinfo"><a href="#"><b class="glyphicon glyphicon-pencil" style="font-size:9px; padding-right:5px;"></b>edit</a></span>
                            </div>
                            <div class="instant-prfl-edit" ng-show="addFamilyForm">
                                <div class="groupSignups">
                                    <input type="text" class="no-icon" required="">
                                    <span class="highlight"></span> <span class="bar"></span>
                                    <label>Full Name</label>
                                </div>
                                <div class="groupSignups halfage">
                                    <input type="text" class="no-icon" required="">
                                    <span class="highlight"></span> <span class="bar"></span>
                                    <label>Age</label>
                                </div>
                                <div class="groupSignups halfage">
                                    <input type="text" class="no-icon" required="">
                                    <span class="highlight"></span> <span class="bar"></span>
                                    <label>Gender</label>
                                </div>
                                <div class="groupSignups">
                                    <input type="text" class="no-icon" required="">
                                    <span class="highlight"></span> <span class="bar"></span>
                                    <label>Mobile Number</label>
                                </div>
                                <span class="saveprofile">
                                        <a href="">Save</a>
                                    </span>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <!--member 01 -->
                    <!-- member 02-->
                    <div class="familyContainer col-lg-3" id="question-container-2">
                        <div class="my_Family">
                            <div class="checkbox_input">
                                <input id="id_1" type="checkbox" name="id_1" value="Label1">
                                <label class="checkbox" for="Option"></label>
                            </div>
                            <div class="family-member-info">
                                <span class="fm-username">Pradeep Kumar Singh</span>
                                <span class="fm-age">26 Years</span>
                                <span class="fm-gender">Male</span>
                                <span class="fm-for">Self</span>
                                <span class="fm-mob">+91-9874563210</span>
                                <span class="fm-editinfo"><a href="#"><b class="glyphicon glyphicon-pencil" style="font-size:9px; padding-right:5px;"></b>edit</a></span>
                            </div>
                            <div class="memberwise-package">
                                <div class="package_SList">
                                    <div class="close_div"><img src="assets/images/close-small.png"></div>
                                    <h2>Lipid Profile, Complete Hemogram</h2>
                                    <span class="parameter_Count">Parameter : 86</span>
                                    <span class="rs_Price"><b class="ruppe">`</b>199</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="add-more-tests"><a href="">+ADD TESTS</a></div>
                    </div>
                    <!--member 02 -->
                    <!-- member 03-->
                    <div class="familyContainer col-lg-4" id="question-container-2">
                        <div class="my_Family">
                            <div class="checkbox_input">
                                <input id="id_1" type="checkbox" checked name="id_1" value="Label1">
                                <label class="checkbox" for="Option"></label>
                            </div>
                            <div class="family-member-info">
                                <span class="fm-username">Pradeep Kumar Singh</span>
                                <span class="fm-age">26 Years</span>
                                <span class="fm-gender">Male</span>
                                <span class="fm-for">Self</span>
                                <span class="fm-mob">+91-9874563210</span>
                                <span class="fm-editinfo"><a href="#"><b class="glyphicon glyphicon-pencil" style="font-size:9px; padding-right:5px;"></b>edit</a></span>
                            </div>
                        </div>
                        <div class="add-more-tests"><a href="">+ADD TESTS</a></div>
                    </div>
                    <!--member 03 -->
                </div>
                <!--members -->
                <!--add more members -->
                <div class="col-lg-2">
                    <div class="add-family-member"><a href="javascript:void(0);" ng-click="showFamilyForm();">Add family Member</a></div>
                </div>
                <!--add more members -->
            </div>
            <!--family section ends -->
            <div class="clear"></div>
            <div class="bottomOrder">
                <span class="cautions">* Maximum 3 number of customer booking can achieve.</span>
                <span class="total_Amnt">Total amount :  `2297 </span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
