/* Loader CSS */
.overlay_loader{ position:fixed;left:0px;right:0px;top:0px;bottom:0px;background:rgba(255, 255, 255, 0.6); z-index:99999; }
.loaderposition{position: relative;left: auto; right: auto; top:45%; width: 40px; height:100%; margin: 0 auto;}
.sk-circle { margin:0px auto; top:40%; width: 40px;height: 40px;position: relative;}
.sk-circle .sk-child { width: 100%;height: 100%;position: absolute; left: 0; top: 60%; }
.sk-circle .sk-child:before {content: '';display: block; margin: 0 auto;width: 15%; height: 15%; background-color: #333;
border-radius: 100%;-webkit-animation:sk-circleBounceDelay 1.2s infinite ease-in-out both;
animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;}
.sk-circle .sk-circle2 {-webkit-transform: rotate(30deg);-ms-transform: rotate(30deg);transform: rotate(30deg); }
.sk-circle .sk-circle3 {-webkit-transform: rotate(60deg);-ms-transform: rotate(60deg);transform: rotate(60deg); }
.sk-circle .sk-circle4 {-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg); }
.sk-circle .sk-circle5 {-webkit-transform: rotate(120deg);-ms-transform: rotate(120deg);transform: rotate(120deg); }
.sk-circle .sk-circle6 {-webkit-transform: rotate(150deg);-ms-transform: rotate(150deg);transform: rotate(150deg); }
.sk-circle .sk-circle7 {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg); }
.sk-circle .sk-circle8 {-webkit-transform: rotate(210deg);-ms-transform: rotate(210deg);transform: rotate(210deg); }
.sk-circle .sk-circle9 {-webkit-transform: rotate(240deg);-ms-transform: rotate(240deg);transform: rotate(240deg); }
.sk-circle .sk-circle10 {-webkit-transform: rotate(270deg);-ms-transform: rotate(270deg);transform: rotate(270deg); }
.sk-circle .sk-circle11 {-webkit-transform: rotate(300deg);-ms-transform: rotate(300deg);transform: rotate(300deg); }
.sk-circle .sk-circle12 {-webkit-transform: rotate(330deg);-ms-transform: rotate(330deg);transform: rotate(330deg); }
.sk-circle .sk-circle2:before {-webkit-animation-delay: -1.1s;animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {-webkit-animation-delay: -1s; animation-delay: -1s; }
.sk-circle .sk-circle4:before {-webkit-animation-delay: -0.9s;animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {-webkit-animation-delay: -0.8s;animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {-webkit-animation-delay: -0.7s;animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {-webkit-animation-delay: -0.6s;animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {-webkit-animation-delay: -0.5s;animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {-webkit-animation-delay: -0.4s;animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {-webkit-animation-delay: -0.3s;animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {-webkit-animation-delay: -0.2s;animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {-webkit-animation-delay: -0.1s;animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
0%, 80%, 100% {
    -webkit-transform: scale(0);transform: scale(0);} 
    40% {
    -webkit-transform: scale(1); transform: scale(1);}
}

@keyframes sk-circleBounceDelay {
0%, 80%, 100% {
    -webkit-transform: scale(0); transform: scale(0);} 
    40% {
    -webkit-transform: scale(1); transform: scale(1);
}
}

/* Loader CSS */

/* health-test page CSS */
.secret {font-size: 65% !important;line-height: 30px;color: #dc2a2b;font-weight: normal;}
    .campaign-header-main{ background-color:#fff; background-size: cover; position:relative; }
    .campaign-header-main .midpanel{ margin:0px; padding:0px;}
    .campaign-header-main .midpanel .logo-panel{ display:block; margin:0px 0px;}
    .campaign-header-main .midpanel .logo-panel .main-logo{ display:inline-block; margin:10px 0px 50px 0px;}
    .campaign-header-main .midpanel .logo-panel .contactRight{ display:inline-block; margin:10px 0px 10px 0px; float:right; font-size:26px; text-align:right;}
    .campaign-header-main .midpanel .logo-panel .contactRight span{ font-weight:6000; font-size:30px; color:#00a0a8; display:block;}
    .campaign-header-main .midpanel .content-panel .package-info h1{ font-size:30px;}
    .mt45{ margin-top:50px !important;}
    .uspdetail{ border-right:1px solid #eaeaea; margin-bottom:50px;}
    .pl10{ padding-left:45px !important; background:#fff !important;}
    .form-campaign-new .field-form input.mob-icon{ background:url(/img/campaign/mob-icon.png) no-repeat 17px 14px #fff !important;}
    .form-campaign-new .field-form input.user-icon{ background:url(/img/campaign/user-icon.png) no-repeat 17px 14px #fff !important;}
    .form-campaign-new .field-form input.email-icon{ background:url(/img/campaign/mail-icon.png) no-repeat 17px 14px #fff !important;}
    .callImage{ margin-right: 8px; vertical-align: top; margin-top: 10px;}

    .uspdetail h4{font-family: 'Roboto', sans-serif !important; color:#626262; margin:20px 0 10px 0px; }
    .uspdetail p{font-family: 'Roboto', sans-serif !important; padding:0px 35px; line-height:18px; color:#626262;}

    .campaign-header-main .midpanel .content-panel{ padding:1px 0px;}
    .campaign-header-main .midpanel .content-panel .package-info{ color:#00a0a8; font-size:36px;}
    .campaign-header-main .midpanel .content-panel .package-info h1{ margin:0px; font-size:48px; font-weight:700; color:#626262;}
    .campaign-header-main .midpanel .content-panel .package-info h1 span{ font-size:56px; display:block;}
    .campaign-header-main .midpanel .content-panel .package-info h1 strong{ font-size:36px; color:#00a0a8;font-weight:normal;}
    .campaign-header-main .midpanel .content-panel .package-info h2{ color:#767676; margin:7px 0px; line-height:40px;}
    .campaign-header-main .midpanel .content-panel .package-info p{ font-size:24px; font-weight:500;}
    .campaign-header-main .midpanel .content-panel .package-info p span{ color:#474747; font-weight:bold;}
    .campaign-header-main .midpanel .content-panel .package-info img{ margin:15px 0px 0px 0px; max-width:626px;}

    .campaign-header-main .midpanel .content-panel .package-info .infonew{ margin:30px 0px 0px; }
    .campaign-header-main .midpanel .content-panel .package-info .infonew h4{ font-size:28px; font-style:italic; font-weight:normal;}
    .campaign-header-main .midpanel .content-panel .package-info .infonew p{font-size:24px; color:#474747; padding-bottom:5px; margin:0px; font-weight:normal;}
    .campaign-header-main .midpanel .content-panel .package-info .infonew p span{color:#414141;}

    .campaign-header-main .midpanel .content-panel .package-info .infonew ul{ margin:0px; padding:0px 45px 0px 0px; list-style:disc;}
    .campaign-header-main .midpanel .content-panel .package-info .infonew ul h6{ font-weight:bold; color:#767676; font-size:19px; margin:0px; padding:20px 0px 5px 0px;}
    .campaign-header-main .midpanel .content-panel .package-info .infonew ul li{ margin-left:21px; font-size:18px; text-transform:none; color:#767676; padding:6px 0px 2px 0px;list-style:disc;}

    .campaign-header-main .midpanel .content-panel .col-sm-12{ margin:0px; padding:0px;}
    .campaign-header-main .midpanel .content-panel .col-sm-7{ margin:0px; padding:0px;}
    .form-campaign-new{ margin:0px 0px 30px 0px; width:468px; background:#00a0a8; padding:35px 40px;}
    .form-campaign-new h2{ padding:0px; margin:0px; font-weight:400; font-size:30px; text-align:left; color:#fff;}
    .form-campaign-new p{ font-size:18px;color: #fff; padding: 15px 0px 10px 0px; text-align: left; line-height: 22px;} 

    .form-campaign-new select{ background:url(/img/campaign/bg-select.png) repeat-x center top; width:100%; color:#a4a2a2; border:1px solid #f1f1f1; font-size:16px; padding:12px 10px;}
    .form-campaign-new select{ -webkit-appearance: none; -moz-appearance: none; appearance: none;}
    .form-campaign-new select:-moz-focusring {color: transparent; text-shadow: 0 0 0 #000;}
    .form-campaign-new select.minimal {font-size:16px; background:#fff;  padding: 10px 12px;  border-radius:2px; background-image:url(/img/campaign/arrow-bottom.png); background-position:95% center;  background-repeat: no-repeat;}
    .form-campaign-new select.minimal:focus { background-image:url(/img/campaign/arrow-top.png); background-position:95% center; background-repeat: no-repeat;
    border-color:#00a0a8; outline: 0;}
    .form-campaign-new select:-moz-focusring {color: transparent;text-shadow: 0 0 0 #000;}

    .form-campaign-new .field-form{margin:20px 0px;}
    .form-campaign-new .field-form input{ display: block; width: 100%; height: 45px; font-size:16px !important; padding: 10px 12px; color:#CCC; font-size: 14px; line-height: 1.42857143;
    color: #555; background-color: #fff; background-image: none; border-radius:2px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}

    .form-campaign-new .field-button{margin:40px 0px 20px 0px;}
    .form-campaign-new .field-button input{ font-weight:700; width:100%; text-align:center; font-size:24px;background: #ee5152;background-image: -webkit-linear-gradient(top, #f26061, #d74142);
    background-image: -moz-linear-gradient(top, #f26061, #d74142); background-image: -ms-linear-gradient(top, #f26061, #d74142); background-image: -o-linear-gradient(top, #f26061, #d74142);
    background-image: linear-gradient(to bottom, #f26061, #d74142); -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0px;color: #ffffff; font-size: 20px;
    padding: 10px 20px 10px 20px;border: solid #00a0a8 0px; text-decoration: none; box-shadow: 0px 10px 29px -13px rgba(0,0,0,0.75) !important; }

    .form-campaign-new .field-button .input:hover { background: #00a0a8;background-image: -webkit-linear-gradient(top, #f8de00, #f8de00);background-image: -moz-linear-gradient(top, #f8de00, #f8de00);
    background-image: -ms-linear-gradient(top, #f8de00, #f8de00); background-image: -o-linear-gradient(top, #f8de00, #f8de00); background-image: linear-gradient(to bottom, #f8de00, #f8de00);
    text-decoration: none;}

    .our-achievment-new{ height:auto; background:#fff;}
    .in-media{ height:auto; background:#fff;}

    .popular-pkg ul{ display:inline-block;}
    .our-achievment-new h1{ text-align:center; font-weight:normal; color:#818181; margin-bottom:45px; font-size:36px; margin-top:40px;}
    .fs36{ font-size:36px !important; margin-bottom:20px !important;}
    .our-achievment-new .bigstar{ background:url(/img/campaign/shieldgray.png) no-repeat center top; width:185px; height:185px; vertical-align:top; margin-top:20px; display:inline-block;}
    .our-achievment-new .bigstar p{ font-size:15px; font-weight:bold; color:#818181; text-align:center; padding:32px 50px;}

    .our-trust{padding-top:20px;background:#fff; padding-bottom:40px; }
    .our-trust h1{ text-align:center; color:#818181; font-weight:normal; margin-bottom:25px;}
    .our-trust ul{ margin:0px; padding:0px; text-align:center;}
    .our-trust ul li{ display:inline-block; margin:0px 30px;}

    .yuv-mobile{ display:none;}
    .sticky-bottom{ display:none;}
    .overlay-visible{ display:none;}
    .bouncing-icon h2{font-size: 22px; margin: 0 0 10px 0;}
    .middle-media{ max-width:100%;}
    .in-media h1{ text-align:center;color:#818181;font-weight:normal; margin-bottom:15px;}


    /*Lead Campaign 1*/
    body{ font-family: 'Lato', sans-serif;}
.mid-section-campaign{ max-width:96%; font-family: 'Lato', sans-serif;}
.campaign-header-main .midpanel .content-panel{ display:block; clear:both; }
.campaign-header{ background:url(/img/campaign/header_bg_campaign.png) no-repeat center top; background-color:#f9f9f9; min-height:838px; background-size: cover; position:relative; }
.campaign-header .midpanel{ margin:0px; padding:0px;}
.campaign-header .midpanel .logo-panel{ display:block; margin:0px 30px;}
.campaign-header .midpanel .logo-panel .main-logo{ display:inline-block; margin:25px 0px 30px 0px;}
.campaign-header .midpanel .content-panel{ padding:1px 0px;}
.campaign-header .midpanel .content-panel .package-info{ color:#00a0a8; font-size:42px; margin-top:-20px;}
.campaign-header .midpanel .content-panel .package-info h1{ display:inline-block; font-size:26px; font-weight:500 !important; position:relative;  font-weight:normal; margin-bottom:0px;}
.campaign-header .midpanel .content-panel .package-info h2.HeadingpackageName{ display:inline-block;color:#39acb1; font-size:36px; font-weight:500 !important; position:relative;  font-weight:normal; margin-bottom:20px;}
.campaign-header .midpanel .content-panel .package-info h2.HeadingpackageName strong{ font-size:38px; font-weight:normal; font-weight:500 !important; line-height:70px;}
.campaign-header .midpanel .content-panel .package-info h1 strong{ font-size:32px; font-weight:normal; padding-left:10px; font-weight:500 !important; line-height:70px;}
.campaign-header .midpanel .content-panel .package-info p{ font-size:20px;font-weight:700 !important; padding-bottom:0px; margin-bottom:0px;}
.campaign-header .midpanel .content-panel .package-info ul{ margin:0px; padding:0px 25px 0 20px; list-style:none;}
.campaign-header .midpanel .content-panel .package-info ul li{ font-size:22px; font-weight:500; color:#39acb1; list-style:disc; margin-bottom:6px;}
.campaign-header .midpanel .content-panel .package-info ul li strong{ color:#3f6f6f;}


.form-campaign{ margin:65px 0px 30px 0px; width:375px;}
.form-campaign select{ background:url(/img/campaign/bg-select.png) repeat-x center top; width:374px; color:#a4a2a2; border:1px solid #dcdcdc; font-size:16px; padding:12px 10px;}
.form-campaign select{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
.form-campaign select.minimal {font-size:16px; background:#fff;  padding:10px 12px;  border-radius:2px; background-image:url(/img/campaign/arrow-bottom.png); background-position:95% center;  background-repeat: no-repeat; box-shadow:inset 0px 0px 10px rgba(160,160,160,0.4) !important; vertical-align:top;}
.form-campaign select.minimal:focus { background-image:url(/img/campaign/arrow-top.png); background-position:95% center; background-repeat: no-repeat;
 border-color:#00a0a8; outline: 0;}
.form-campaign select:-moz-focusring {color: transparent;text-shadow: 0 0 0 #000;}

.field-form{ margin:15px 0px 10px 0px;}
.field-form input{ display: block; width: 100%; height: 45px; font-size:16px !important; padding: 10px 12px 10px 45px; color:#CCC; font-size: 14px; line-height: 1.42857143; color: #555;
 background-color: #fff; background-image: none; border: 1px solid #dcdcdc; border-radius:2px; 
 -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
.field-form input:focus{ border:1px solid #00a0a8; color:#888;}
.field-form input:focus::-webkit-input-placeholder { color: #888;}
.field-form input:focus::-moz-placeholder { color: #888;}

.field-form input.user-icon{background: url(/img/campaign/user-icon.png) no-repeat 17px 14px !important;}
.field-form input.mob-icon{background: url(/img/campaign/mob-icon.png) no-repeat 17px 14px !important;}
.field-form input.email-icon{background: url(/img/campaign/mail-icon.png) no-repeat 17px 14px !important;}

.campaign-header .midpanel .content-panel .yuv-msg{background:url(/img/campaign/yuvi.png) no-repeat right top; height:740px; }
.campaign-header .midpanel .content-panel .yuv-msg h2{ font-size:18px; color:#fff; margin:48px 70px 10px 0;}
.campaign-header .midpanel .content-panel .yuv-msg h4{ font-size:14px; color:#fff; margin:5px 70px 20px 0; font-weight:normal;}

.field-button{margin:35px 0px 15px 0px;}
.field-button input{ font-weight:500 !important; width:100%; text-align:center; font-size:24px;background: #2ac1c8;background-image: -webkit-linear-gradient(top, #2ac1c8, #00a0a8);
background-image: -moz-linear-gradient(top, #2ac1c8, #00a0a8); background-image: -ms-linear-gradient(top, #2ac1c8, #00a0a8); background-image: -o-linear-gradient(top, #2ac1c8, #00a0a8);
background-image: linear-gradient(to bottom, #2ac1c8, #00a0a8); -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0px; color: #ffffff;  padding:12px 20px 12px 20px; border: solid #00a0a8 0px; text-decoration: none; border-bottom:5px solid #00797f; box-shadow:0px 0px 6px rgba(140,140,140,0.99) !important;}

.field-button .input:hover {background: #00a0a8; background-image: -webkit-linear-gradient(top, #00a0a8, #2ac1c8);background-image: -moz-linear-gradient(top, #00a0a8, #2ac1c8);
  background-image: -ms-linear-gradient(top, #00a0a8, #2ac1c8); background-image: -o-linear-gradient(top, #00a0a8, #2ac1c8);background-image: linear-gradient(to bottom, #00a0a8, #2ac1c8);
  text-decoration: none;}

.bouncing-icon{ text-align: center; color: #b0b0b0; font-size: 26px; bottom: 140px; margin-bottom: -108px;  position: absolute;  left: 0; right: 0;}

.usp-campaign{position:relative; background:#f9f9f9; margin-top:20px;}
.usp-campaign h1{ text-align:center; color:#b0b0b0; font-size:26px; }
.usp-campaign .card{ box-shadow:0 0 15px rgba(0,0,0,.1);  background:#fff;  font-family: 'Lato', sans-serif; min-height:200px; padding:30px 10px; border-radius:3px;}
.usp-campaign .card h4{  padding:8px 15px 0px 15px; font-weight:bold; font-size:18px; font-family: 'Lato', sans-serif;}
.usp-campaign .card p{ padding:0px 15px; font-weight:500; font-size:14px; font-family: 'Lato', sans-serif; color:#888;}
.usp-campaign .card p:hover{ color:#fff;}
.usp-campaign .home{ background:url(/img/campaign/home-icon.png) no-repeat 0px 0px; width:55px; height:44px; margin-bottom:20px; margin-left:15px; overflow:hidden; margin-bottom:10px;}
.usp-campaign .home:hover{ background:url(/img/campaign/home-icon.png) no-repeat 0px -44px;cursor:pointer; }

.usp-campaign .hands{ background:url(/img/campaign/hand-icon.png) no-repeat 0px 0px; width:55px; height:44px; overflow:hidden;margin-left:15px; margin-bottom:10px;}
.usp-campaign .hands:hover{ background:url(/img/campaign/hand-icon.png) no-repeat 0px -44px;cursor:pointer; }

.usp-campaign .doc{ background:url(/img/campaign/doc-icon.png) no-repeat 0px 0px; width:55px; height:44px; overflow:hidden;margin-left:15px;margin-bottom:10px;}
.usp-campaign .doc:hover{ background:url(/img/campaign/doc-icon.png) no-repeat 0px -44px; cursor:pointer; }

.usp-campaign .lab{ background:url(/img/campaign/lab-icon.png) no-repeat 0px 0px; width:55px; height:44px; overflow:hidden;margin-left:15px;margin-bottom:10px;}
.usp-campaign .lab:hover{ background:url(/img/campaign/lab-icon.png) no-repeat 0px -44px; }
.usp-campaign .card:hover{ background:#00a0a8;color:#fff !important; cursor:pointer;}

.colorwhite{ color:#fff !important;}

.usp-campaign .card:hover .home:hover{background:url(/img/campaign/home-icon.png) no-repeat 0px -44px;cursor:pointer;}
.usp-campaign:hover p{ padding:0px 15px; font-weight:500; font-size:14px; font-family: 'Lato', sans-serif;color:#888;}

.healthians-lab{position:relative; margin-top:20px; padding:10px 0px 90px 0px; background:#f9f9f9;}
.healthians-lab .card-lab{ box-shadow:0 0 20px rgba(0,0,0,.2); padding:0px; background:#fff;overflow:hidden; margin-bottom:20px;  border-radius:3px;}
.healthians-lab .card-lab img{ margin-bottom:10px; width:100%;}
.healthians-lab .card-lab h5{ font-weight:bold; padding:0px 15px; font-size:14px;font-family: 'Lato', sans-serif;}
.healthians-lab .card-lab p{ padding:0px 15px; font-size:13px; color:#888; font-family: 'Lato', sans-serif;font-weight:500;}

.our-achievment{background:url(/img/campaign/my-achievment.png) no-repeat center top; background-size:cover; min-height:450px; }
.our-achievment h1{ text-align:center; color:#eacd56; margin-bottom:70px; margin-top:40px;}
.our-achievment .bigstar{ background:url(/img/campaign/shield.png) no-repeat center top; width:232px; height:185px; margin-top:20px; display:inline-block; vertical-align:top;}
.our-achievment .bigstar p{font-size:15px; text-transform:capitalize; font-weight:bold;color:#eacd56; text-align:center; padding:50px 65px;}

.our-trust{padding-top:40px; }
.our-trust h1{ text-align:center; color:#6c6c6c; margin-bottom:40px;}
.our-trust ul{ margin:0px; padding:0px; text-align:center;}
.our-trust ul li{ display:inline-block; margin:0px 30px;}

.yuv-mobile{ display:none;}
.sticky-bottom{ display:none;}
.overlay-visible{ display:none;}
.bouncing-icon h2{font-size: 22px; margin: 0 0 10px 0;}
.middle-media{ max-width:100%;}
.in-media h1{ text-align:center;color:#818181;font-weight:normal; margin-bottom:15px;}

.signature img{ margin-right:70px !important;}

.scrollup-campaign{padding:10px 20px; position: fixed; bottom:30px; right: 10px; display: none;  text-indent: -9999px; background: url(/img/campaign/scroll-campaign.png) no-repeat center; background-size:100%; -webkit-transition:all 1s; -mz-transition:all 1s; -o-transition:all 1s;}
.scrollup-campaign a{-webkit-transition:all 1s; -mz-transition:all 1s; -o-transition:all 1s;}
.scrollup-campaign:hover{ background: url(/img/campaign/scroll-campaign.png) no-repeat center; background-size:100%; background-color:none; -webkit-transition:all 1s; -mz-transition:all 1s; -o-transition:all 1s;}

.campaign-header .midpanel .content-panel .package-info .savings-percent{color:#fff;font-size:13px;padding:6px 13px;background:#4abbc1;border-radius:30px;}
.fs_30{margin-top:3px;font-size:26px;line-height:36px; margin-bottom:10px;}
.slash{color:#fc1340; font-size:32px; text-decoration:line-through; display:inline-block;}
.slashedprice{ display:inline-block; font-size:26px;}
.save-percents{top:-26px;position:absolute;right:10px;}
.mobile-slashed{ display:none;}
.fbLeadnoDisplay{ display:block;}

.callusnow{ float:right; margin:25px 0px 30px 0px; font-weight: 500; color:#fff;}
.callusnow i{ font-size:20px;}
.callusnow a{ color:#fff; font-size: 24px; }


/*Lead Campaign 1*/
.media-sec{width:85%; margin:40px auto; min-height:210px; padding:0; text-align:center; }
.media-sec h2{display:block; font-family: 'Lato', sans-serif; font-weight:700;margin:0 0 25px 0; padding:0; color:#010101; font-size:30px;}
.media-spritesc05, .media-spritesc02, .media-spritesc01, .media-spritesc06, .media-spritesc03, 
.media-spritesc04, .media-spritesc07, .media-spritesc08{ display: inline-block; background: url('/img/campaign/media-sprites.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
.media-mid{ max-width:90%; margin:30px auto;}
.media-spritesc01 { background-position: -10px -120px; width: 114px; height: 50px; margin-right:22px; }
.media-spritesc02 { background-position: -10px -60px; width: 137px; height: 50px; margin-right:22px; }
.media-spritesc03 { background-position: -10px -240px; width: 92px; height: 50px; margin-right:22px; }
.media-spritesc04 { background-position: -10px -300px; width: 86px; height: 50px; margin-right:22px; }
.media-spritesc05 { background-position: -10px -0px; width: 174px; height: 50px; margin-right:22px; }
.media-spritesc06 { background-position: -10px -180px; width: 109px; height: 50px; margin-right:22px; }
.media-spritesc07 { background-position: -134px -120px; width: 39px; height: 50px; margin-right:22px; }
.media-spritesc08 { background-position: -129px -180px; width: 30px; height: 50px; margin-right:22px; }

label.error { color:#fff; float: left;}

@media all and (min-width: 20px) and (max-width: 768px) {
    .campaign-header-main .midpanel .logo-panel{ display:block;}
    .campaign-header-main .midpanel .logo-panel .main-logo{ margin-left:15px; display:inline-block; margin-bottom:10px;}
    .campaign-header-main .midpanel .logo-panel .main-logo img{ float:left; max-width:115px;}
    .campaign-header-main .midpanel .logo-panel .contactRight{ font-size:13px; margin:0px 15px 10px 0px;}
    .campaign-header-main .midpanel .logo-panel .contactRight span{ font-size:18px; }
    .campaign-header-main .midpanel .logo-panel .contactRight span img{ max-width:15px;}
    .campaign-header-main .midpanel .content-panel .package-info{ margin:10px 0px;}
    .campaign-header-main .midpanel .content-panel .package-info h1{ font-size:31px; padding:5px 10px 0px 10px; text-align:left;}
    .campaign-header-main .midpanel .content-panel .package-info h2{ font-size:20px; padding:0px 10px; text-align:left; margin:0px;}
    .campaign-header-main .col-lg-12{ margin:0px; padding:0px;}
    .form-campaign-new{ padding:25px 20px;}
    .campaign-header-main .midpanel .content-panel .package-info .infonew{ margin:15px 0px 0px; padding:0px 40px;}
    .campaign-header-main .midpanel .content-panel .package-info .infonew ul{ padding:0px;}
    .campaign-header-main .midpanel .content-panel .package-info .infonew ul li{ font-size:16px; list-style:disc; padding:4px 0px 2px 2px;}
    .mt45{ margin-top:20px !important;}
    .uspdetail{padding-bottom: 20px; margin-bottom:0px; border-right:none;}
    .our-achievment-new h1{ font-size:24px;}
    .our-trust h1{font-size:24px;}
    .our-trust{ padding-bottom:20px;}
    .form-campaign-new{ display:none;}
    .callImage{ margin-right:6px; vertical-align: top; margin-top:5px;}
    .sticky-bottom .green-visible{background: rgba(0,160,168,0.90); z-index: 999; padding: 0px 22px 0px 22px; position: fixed; bottom: 0px; left: 0px; right: 0px;}
    .cms-campaign .field-button input{font-weight:700; width:100%;text-align:center; font-size:20px;background: #ee5152;background-image: -webkit-linear-gradient(top, #f26061, #d74142);
    background-image: -moz-linear-gradient(top, #f26061, #d74142); background-image: -ms-linear-gradient(top, #f26061, #d74142); background-image: -o-linear-gradient(top, #f26061, #d74142);
    background-image: linear-gradient(to bottom, #f26061, #d74142); -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;color: #ffffff; font-size:20px;
    padding:9px 20px 9px 20px;border: solid #00a0a8 0px; text-decoration: none; box-shadow: 0px 10px 29px -13px rgba(0,0,0,0.75) !important; }
    .cms-campaign .field-button{ margin:5px 0px 10px 0px;}
}

@media all and (min-width: 20px) and (max-width: 768px) {
    .campaign-header-main .midpanel .logo-panel .main-logo{ display:block; text-align:center;}	
    .campaign-header-main .midpanel .content-panel .package-info h1 span{ font-size:50px; margin-top:0px;}
    .content-panel .col-sm-12{margin:0px !important; padding:0px !important;}
    .campaign-header-main .midpanel .content-panel .package-info p{ font-size:22px;}
    .campaign-header-main .midpanel .content-panel .package-info img{ max-width:100%;}
    .form-campaign-new{ width:100%; margin:15px 0px;}
    .form-campaign-new h2{ padding:0px 0px 10px 0px; font-size:22px;} 
    .form-campaign-new p{ padding:5px 0px 10px 0px;}
    .form-campaign-new .field-form{ margin:10px 0px !important;}
    .form-campaign-new select{ width:100%;}
    .form-campaign-new .field-button{ margin:20px 0px 30px 0px;}
    .our-achievment-new h1{ font-size:26px; margin-bottom: 20px; margin-top: 10px;}
    .web2-thankyou h6{ font-size:26px !important; padding:5px 30px !important;}
    .web2-thankyou p{ padding:10px 20px 15px 20px !important;}
    .our-achievment-new h1 img{ width:20px;}
    .field-form input{padding: 5px 12px 5px 45px;height:37px;}
}

@media (max-width: 768px) and (min-width: 20px) {
    .sticky-bottom {
        display: block;
    }
}

@media (max-width: 768px) and (min-width: 20px) {
    .form-campaign-new {
        display: none;
    }
}

/*Lead Campaign 1 */
@media all and (min-width: 20px) and (max-width: 768px) {
    .mid-section-campaign{max-width:100%;}
    .campaign-header{ background-size:contain !important; background-color:#f9f9f9;}
    .bounce img{width:14px;}
    .campaign-header .midpanel .logo-panel{ margin:0px;}
    .campaign-header .midpanel .content-panel .package-info h1{ text-align:center; font-size:25px; margin:8px 0px 4px 0px;}
    .campaign-header .midpanel .content-panel .package-info h1 strong{ text-align:center; font-size:28px; line-height:36px; padding-left:}
    .campaign-header .midpanel .content-panel .package-info p{font-size: 18px; margin-bottom:5px; line-height:19px; text-align:center;  }
    .campaign-header .midpanel .content-panel .col-sm-5{ margin:0px  !important; padding:0px !important;}

    .campaign-header .midpanel .content-panel .package-info .savings-percent{ font-size:12px; top:-24px; padding:4px 8px;}
    .slashedprice{display:none;}
    .campaign-header .midpanel .content-panel .package-info h1{ margin:30px 0px 0px 0px; display:block; text-align:center;}
    .mobile-slashed{ display:inline-block;}
    .save-percents {top: -32px;}

    .campaign-header .midpanel .content-panel .package-info h2.HeadingpackageName{ font-size:25px; margin:0px;}
    .campaign-header .midpanel .content-panel .package-info ul li{ font-size:18px; padding-bottom:4px;}
    .campaign-header .midpanel .content-panel .package-info h2.HeadingpackageName strong{ font-size:25px;}
    .campaign-header .midpanel .content-panel .package-info ul{ padding:0px 15px 0 15px;}


    .form-campaign{ display:none;}
    .campaign-header{ min-height:auto;}
    .our-achievment { background-size: cover;  height:auto;}
    .our-achievment .bigstar{ width:158px; margin:0px; min-height:154px;}
    .our-achievment .bigstar p{ padding:22px 40px}
    .our-achievment .bigstar p{ font-size:14px;}
    .visible-web{ display:none;}
    .yuv-mobile{ display:block; background:url(/img/campaign/yuvi-mob.png) no-repeat center top; background-size:contain; background-size: cover; height:244px; background-size: 260px;}
    .campaign-header .midpanel .content-panel .package-info p{ margin-bottom:0px;}
    .fs_30{font-size: 20px; letter-spacing: -0.6px; line-height:24px;}
    .yuv-mobile h2{ font-size:11px; font-weight:normal; color:#fff; margin:0px 0px 5px 0px; text-align:left;}
    .yuv-mobile h4{ font-size:8px; font-weight:normal; color:#fff; margin:0px 0px 10px 0px;}
    .campaign-header .midpanel .logo-panel .main-logo img{ max-width:130px;}
    .sign{ margin-top: -56px; max-width:145px; text-align: right; float: right;}
    .sign img{ width:40%;}	
    .usp-campaign .col-sm-12{ margin:0px; padding:0px;}

    .sticky-bottom{ display:block; }
    .sticky-bottom .dark-visible{background:rgba(0,0,0,0.75);z-index:999;  padding:0px 22px 0px 22px; position:fixed; bottom:0px; left:0px; right:0px;}
    .sticky-bottom .dark-visible .field-button{ margin:10px 0px 10px 0px; }
    .sticky-bottom .dark-visible .field-button input{  font-weight:500 !important; width:100%; text-align:center; font-size:20px;background: #2ac1c8;background-image: -webkit-linear-gradient(top, #2ac1c8, #00a0a8);  background-image: -moz-linear-gradient(top, #2ac1c8, #00a0a8); background-image: -ms-linear-gradient(top, #2ac1c8, #00a0a8); background-image: -o-linear-gradient(top, #2ac1c8, #00a0a8);  background-image: linear-gradient(to bottom, #2ac1c8, #00a0a8); -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0px; color: #ffffff;padding:6px 15px 5px 15px !important; border: solid #00a0a8 0px; text-decoration: none; border-bottom:5px solid #00797f; box-shadow:none;}


    .sticky-bottom .white-visible{background:rgba(255,255,255,1);z-index:999; box-shadow:0 0 50px 0 #333;  padding:10px 22px; position:fixed; bottom:0px; left:0px; right:0px;} 
    .sticky-bottom .white-visible select{-webkit-appearance: none; -moz-appearance: none; appearance: none; width:100%;}
    .sticky-bottom .white-visible select.minimal {font-size:16px; background:#fff;  padding: 10px 12px;  border-radius:2px; background-image:url(/img/campaign/arrow-bottom.png); background-position:95% center;  background-repeat: no-repeat;}
    .sticky-bottom .white-visible select.minimal:focus { background-image:url(/img/campaign/arrow-top.png); background-position:95% center; background-repeat: no-repeat;border-color:#00a0a8; outline: 0;}
    .sticky-bottom .white-visible select:-moz-focusring {color: transparent;text-shadow: 0 0 0 #000;}

    .overlay-visible{ display:block; background:rgba(0,0,0,0.75); position:fixed; right:0px; left:0px; height:100%; bottom:0px; z-index:999;}
    .sticky-bottom .field-form{ background:#fff !important; width: 100%;}
    .sticky-bottom .field-form input:focus{ border:1px solid #00a0a8;}  


    .bouncing-icon{ bottom:0px; margin-bottom: -80px;}
    .usp-campaign{ margin-top:90px; padding-top:30px; background:#f4f4f4;}
    .usp-campaign .card{ background:#fff;}
    .healthians-lab .col-sm-3{ margin:0px !important; padding:0px !important;}
    .card{ margin:15px 0px 0px 0px;}
    .content-panel .col-sm-12{ margin:0px; padding:0px;}
    .bouncing-icon h2{ font-size:19px;}
    .field-button{ margin:15px 0px 5px 0px;}
    .sticky-bottom .dark-visible .field-button input{ font-size:20px;}
    .white-visible .field-button input{padding:8px 15px 8px 15px !important; font-size:20px !important;}
    .our-achievment h1{ font-size:22px;}
    .our-trust h1{font-size:26px;}
    .in-media h1{font-size:26px;}
    .our-achievment h1 img{ width:20px;}
    .mob-close{float: right; margin-top: -32px; color: #fff;}
    .middle-media{ padding-bottom:100px;}
    .web-thankyou h6{ font-size:26px !important; padding:5px 30px !important;}
    .web-thankyou p{ padding:10px 20px 15px 20px !important;}
    .field-form input{ height:47px; }
}

.showLeadMobileForm { display: none; }
.mand_field_text {float:left; color:#8af8fd; font-size:11px;}

/* health-test page CSS */