<!--header section starts here -->
<div ui-view="header"></div>
<!--header section ends here -->
<div class="clear"></div>
<!--BANNER PANEL -->
<section class="banner-wrapper">
    <section class="panelfigcaption">
        <div class="caption">           
            <h1>We are Healthians!</h1>
            <span>India’s largest health test @ home service</span>
        </div>
    </section>
</section>
<!--BANNER PANEL ENDS HERE -->
<div class="clear"></div>
<!--ABOUT CONTENT SECTION -->
<section class="about-content">
    <div class="mid_panel">
        <!--MILESTONES -->
        <section class="milestone">
            <ul>
                <li><span class="stats">300+</span> Trained Technicians </li>
                <li><span class="stats">500K</span> Lives Touched </li>
                <li><span class="stats">5.5 Mn</span> Tests Reported </li>
                <li><span class="stats">1Mn</span> Health Profiles </li>
            </ul>
            <div class="clear"></div>
        </section>
        <!--MILESTONES -->
        <!--ABOUT HEALTHIANS -->
        <section class="abouthealthians">
            <p><strong>Healthians.com</strong> is India’s largest health test @ home service, creating a new benchmark for very high quality and honest prices. Healthians employs state of art 46 touchpoints technology for assuring quality collection and testing across its tightly controlled network of labs and hundreds of full-time phlebotomists. Coolsure ™ and Blackcode technology ensure sample transportation in an environment proof way- safe from heat, sunlight, contamination and human error. Smartprick ™ technology ensures minimum pain by precision laser guided blood collection.</p>
            <p>The company was incubated by Healthstart in November 2014, followed by a seed round investment in 2015 by YouWeCan, the investment arm of an iconic survivor, champion and cricket legend Yuvraj Singh who is the face of Healthians. Healthians has been awarded Indian E-retail Awards’15 and Leader’s Awards'15 in Healthcare.</p>
            <div class="clear"></div>
        </section>
        <!--ABOUT HEALTHIANS ENDS HERE -->
    </div>
    <div class="clear"></div>
    <!--HEALTHIANS FOUNDERS -->
    <section class="founders">
        <div class="mid_panel">
            <h1>Meet The Healthians</h1>
            <div class="clear"></div>
            <figure>
                <img src="assets/images/mr-deepak-sahni.jpg" class="founderpic" />
                <div class="founderdtl">
                    <div class="names">Deepak Sahni <span class="designation">(Founder & CEO)</span></div>
                    <p>Founder & Chief Executive Officer, Healthians.com, February 2015 to present. <br />Mr. Sahni is an IT and Healthcare Marketing professional with over 14 years of experience. He ventured into the challenging healthcare industry in 2006 and his first foray into the industry was his Digital Marketing business. He has been prominent in representing India as medical tourism destination around the world during 2007-2009.</p>
                 
                    <p>In April 2014, he turned his passion for healthcare technology into Healthians.com. Having gained vast experience working in healthcare environment, he clearly understood a patient’s mindset and the latent truth that no one either wants to fall ill or visit a hospital or do anything to avoid that from happening. </p>
                    <p>He firmly believed that a paradigm shift from curative to preventive and offline to online with people becoming more aware and concerned about their health will happen soon. There was not a single platform that could help screen, track and action health data to help people take an informed decision regarding choosing a right check-up from the right lab at the right price. He wanted to structure the haphazard healthcare services and the non standardized pricing in India; hence, he built Healthians.com</p>
                    <p>Deepak has been awarded "Young Entrepreneur of the Year" in 2016.</p>
                    <p class="connect">Connect with Deepak :&nbsp; <span><a href="https://www.linkedin.com/in/deepaksahni1" target="_blank">
                    <img src="assets/images/linkedin_icon.png" /></a></span></p>
                    <p class="email">Email :&nbsp; <span><a href="mailto:{{companyemail.founders}}" target="_blank" ng-bind="companyemail.founders"></a></span></p>
                </div>
                <div class="clear"></div>
            </figure>
           
        </div>
        <div class="clear"></div>
    </section> 

    <section class="founders">
        <div class="mid_panel">
            <figure>
                <img style="border:1px solid #eaeaea;" src="assets/images/mudit_khosla.png" class="founderpic" />
                <div class="founderdtl">
                    <div class="names">Mudit Khosla <span class="designation">(Chief Operating Officer)</span></div>
                    <p>Mr. Mudit is the Chief Operating Officer at Healthians. Previously, he had been the business head at IndiaMART, which he launched ground-up. Prior thereto, he had been the CEO of Tradus.com (ibibo group). </p><p>He was also the founding member of Yatra.com and saw it metamorphose from a five man team to India’s leading internet success stories and was also part of Indiatimes founding team. He brings with him the diverse experience of heading BD, Ad Sales, P&L. </p> 
                    
                    <p>He was featured in “Top 100 icons of India’s digital ecosystem” by Exchange4Media/ Impact Media.</p>
                    
                    
                      <p class="connect">Connect with Mudit :&nbsp; <span><a href="https://www.linkedin.com/in/muditkhosla/" target="_blank">
                    <img src="assets/images/linkedin_icon.png" /></a></span></p>
                    <p class="email">Email :&nbsp; <span><a href="mailto:mudit@healthians.com" target="_blank">mudit@healthians.com</a></span></p>
                    
                    
                    
                </div>
                <div class="clear"></div>
            </figure>
        </div>
        <div class="clear"></div>
    </section>

    <!-- HEALTHIANS FOUNDERS ENDS HERE -->
    <div class="clear"></div>

    <!--Core Team -->

<section class="founders">
  <div class="mid_panel">
    <h1>Core Team Members</h1>
    <div class="core-mem">
      <ul>
        <li>
          <figure style="padding:0px 50px;"><img src="assets/images/amit-gupta.png"></figure>
          <figcaption>Amit Gupta <br /><span>(Chief Technical Officer)</span></figcaption>
          <p>Amit heads Technology at Healthians since September 2016. Previously, he had been Head of Engineering with Droom.in. Prior thereto he had been Senior Director Product Engineering with hCentive and other companies CA Technologies, CapGemini and EDS MphasiS. He brings with him 19 years of global IT experience with strong leadership skills and excels in Agile, Analytics, Automation, development, web application and much more.</p>
        </li>
        
        
        <li>
          <figure style="padding:0px 50px;"><img src="assets/images/manjula.png"></figure>
          <figcaption>Dr Manjula <br /><span>(Head Quality)</span></figcaption>
          <p>Dr. Manjula heads Quality at Healthians since September 2016. Previously, she had been a Laboratory and Quality Manager with Unipath Diagonistics. Prior thereto she had been associated with Rajiv Gandhi Cancer Institute and Indraprastha Apollo Hospital. She is a Pathologist and a quality expert with a total work experience of 10 years. She is specially trained in Medical Labs Quality Management System from Bureau of Indian Standards and has many articles in journals of national and international repute.  </p>
        </li>
        <li>
          <figure style="padding:0px 50px;"><img src="assets/images/meenal-gupta.png"></figure>
          <figcaption>Meenal Gupta <br /><span>(Chief Financial Officer)</span></figcaption>
          <p>Meenal Gupta heads the Finance function at Healthians since April 2016.
Previously, she had been Senior Manager Finance in Microsoft. Prior thereto, she had been CFO with YouweCan Ventures and had been associated with Price Waterhouse Coopers. She has a total work experience of over 9 years. With diverse experience in financial risk management, corporate governance, financial reporting and controllership, at Healthians she is driving the overall Finance Strategy.</p>
        </li>
        <!--<li>
          <figure style="padding:0px 50px;"><img src="assets/images/neha.png"></figure>
          <figcaption>Neha Bhandari <br /><span>(Head Human Resource)</span></figcaption>
          <p>Neha heads the HR function at Healthians since August 2016. Previously, she had been Head HR at real estate start-ups “Proplarity Infrastructure Pvt. Ltd.” and “Finlace Consulting Pvt. Ltd”. Prior thereto she had been associated with Barclays shared services, IBM Daksh and Future Group. Neha is an MBA in HR from Symbiosis, Pune with a total work experience of 13 years. At Healthians, she leads the overall mission to find, develop and retain great talent in support of the organizations over-all business strategy.</p>
        </li> -->
        <li>
          <figure style="padding:0px 50px;"><img src="assets/images/puneet_sharma.png"></figure>
          <figcaption>Puneet Sharma <br /><span>(Sr. VP - BD & Operations)</span></figcaption>
          <p>Puneet is the Sr. VP- Business Development & Operations at Healthians. Previously he had been the founding team member of Seventymm.com. He brings with him a diverse experience of 19 years in top notch consumer & service brands / product categories and managing large sales channels both offline & online with P&L responsibilities, business development, strategic alliances and marketing tie ups. At Healthians, he drives the overall Business Development and Operations with greater focus on the implementation of key business process. </p>
        </li>
        <li>
          <figure style="padding:0px 50px;"><img src="assets/images/rupinder-pal.png"></figure>
          <figcaption>Rupinder Pal Singh <br /><span>(Data Analyst)</span></figcaption>
          <p>Rupinder is a Data Analyst at Healthians since August’ 2016. Previously, he had been Demand Manager with OYO Rooms. Prior thereto, he had been Process Engineer- R&D with Asahi India Glass Ltd. He is a B-Tech (Mechanical) from NIT-J with a total work experience of 4 years. At Healthians, Rupinder had been a key member in scaling the business operations via channelizing demands from various sources. </p>
        </li>
        <li>
          <figure style="padding:0px 50px;"><img src="assets/images/shammi.png"></figure>
          <figcaption>Shammi Shailaj <br /><span>(EIR-Infrastructure)</span></figcaption>
          <p>Shammi is an Entrepreneur in Residence at Healthians since August 2016. Previously, he had been Platform Architect with BigFoot Retail Solutions Pvt. Ltd.  Prior thereto he had been a Tech Lead with Seventynine. Shammi is a BCA from IGNOU with a total work experience of 7 years. He loves to code and is particularly interested in performance and scaling of technological architectures.
          </p>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  </div>

</section>
    <!--Core Team -->
    <div ui-view="footer"></div>
    <!--header section ends here -->
