<!--header section starts here -->
<div ui-view="header"></div>
<!--header section ends here -->
<div class="clear"></div>
<!-- Reset password-->
<div class="container reset" ng-show="verified">
    <h1 class="no-mt">Congratulations!</h1>
    <p class="no-mt">Your email address is now verified.</p>
    <ul>
        <li><img src="assets/images/verified-success.png" width="175"></li>
    </ul>
    <p>You have successfully added the email address to our records. </p>
</div>
<div class="clear"></div>
<!--header section starts here -->
<div ui-view="footer"></div>
<!--header section ends here -->
