<!--header section starts here -->
<div ui-view="header"></div>
<!--header section ends here -->
<div class="ContentWrap">
    <!--ERROR MSG CONTAINER -->
    <div class="error-container">
        <div class="verifiedstatus"></div>
        <div class="Right-errorMsg">
        <p class="thanks_vertified" ng-bind-html="message"></p>
            <h2 class="verified_bookingid">Booking ID : {{booking_id}}</h2>
           
            
            <div class="clear"></div>
             <hr style="    border-bottom: 1px solid #d2cbcb;">
            
            <div class="bottomurl">
            <h6>Try one of these instead</h6>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            </ul>
            </div>
        </div>
    </div>
    <!--ERROR MSG CONTAINER -->
</div>

<div class="usp-campaign">
    <div class="container-fluid mid-section-campaign">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="home"></div>
                        <h4>FREE SAMPLE PICKUP</h4>
                        <p>Cost free sample pickup from Home or Office. </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="hands"></div>
                        <h4>HONEST PRICES</h4>
                        <p>Say NO to cuts & commissions.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="doc"></div>
                        <h4>FREE HEALTH COUNSELLING</h4>
                        <p>Professional Health Counselling.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="lab"></div>
                        <h4>GUARANTEED ACCURACY</h4>
                        <p>Money back guarantee on accuracy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="healthians-lab">
    <div class="container-fluid mid-section-campaign">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="card-lab"> <img src="assets/images/campaign/lab1.jpg" />
                        <h5>100% CALIBRATION AND RESULTS</h5>
                        <p>We have deep analytical control on all our labs and insist them to follow NABL guidelines.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card-lab"> <img src="assets/images/campaign/lab2.jpg" />
                        <h5>FULLY AUTOMATED</h5>
                        <p>All of our labs are fully automated, equipped with internationally renowned machines.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card-lab"> <img src="assets/images/campaign/lab3.jpg" />
                        <h5>LATEST TECHNOLOGY AND EQUIPMENTS</h5>
                        <p>We are at par with the medical tech-driven advances. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card-lab"> <img src="assets/images/campaign/lab4.jpg" />
                        <h5>INTERNATIONAL QUALITY COMPLIANCE</h5>
                        <p>Our labs follow more than 150 international quality operating procedures for sampling.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="our-achievment">
    <div class="container-fluid mid-section-campaign">
        <div class="row">
            <div class="col-sm-12" style="text-align:center;">
                <h1> <img src="assets/images/campaign/star.png" /> <img src="assets/images/campaign/star.png" />&nbsp;&nbsp;Our Achievements&nbsp;&nbsp; <img src="assets/images/campaign/star.png" /> <img src="assets/images/campaign/star.png" /> </h1>
                <div class="bigstar">
                    <p>National PPTCT Programme </p>
                </div>
                <div class="bigstar">
                    <p>Innovative Health care Start-Up </p>
                </div>
                <div class="bigstar">
                    <p>Health & Social care Enterprise </p>
                </div>
                <div class="bigstar">
                    <p>Healthcare Innovator Programme </p>
                </div>
                <div class="bigstar">
                    <p>State Level consultation Memento </p>
                </div>
                <div class="bigstar">
                    <p>Enterprise leadership </p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="our-trust">
    <div class="container-fluid mid-section-campaign">
        <h1>Trusted by Employees of</h1>
        <ul>            
            <li><img src="assets/images/campaign/logo2.jpg" /></li>
            <li><img src="assets/images/campaign/logo3.jpg" /></li>
            <li><img src="assets/images/campaign/logo4.jpg" /></li>
            <li><img src="assets/images/campaign/logo5.jpg" /></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="in-media">
    <div class="container-fluid mid-section-campaign">
        <h1>In the media</h1>
        <div class="col-sm-12" style="text-align:center;">
            <div class="media-mid middle-media">
                <a>
                    <div class="media-spritesc05"></div>
                </a>
                <a>
                    <div class="media-spritesc02"></div>
                </a>
                <a>
                    <div class="media-spritesc01"></div>
                </a>
                <a>
                    <div class="media-spritesc06"></div>
                </a>
                <a>
                    <div class="media-spritesc03"></div>
                </a>
                <a>
                    <div class="media-spritesc04"></div>
                </a>
                <a>
                    <div class="media-spritesc07"></div>
                </a>
                <a>
                    <div class="media-spritesc08"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div ui-view="footer"></div>
<style>
@media (max-width: 768px) and (min-width: 20px){
.usp-campaign{    margin-top:0px;}
}
</style>