<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<!--header section starts here -->
<div ui-view="header"></div>
<!--header section ends here -->
<!--BANNER PANEL -->
<section class="banner-wrapper-career">
    <div class="midCaption">
        <h1>Take off to a healthy career</h1>
        <a href="" ng-click="carrerAnchor();">
            <h2>Careers <span>@</span> Healthians</h2>
        </a>
    </div>
</section>
<!--BANNER PANEL ENDS HERE -->
<div class="clear"></div>
<!--career CONTENT SECTION -->
<section class="about-content">
    <div class="mid_panel">
        &nbsp;&nbsp;
    </div>
</section>
<!--life @ healthians -->
<div class="container life-healthians" style="background:#fbfafa; padding-top:20px;">
    <div class="row">
        <div class="col-sm-12 col-sm-12 col-xs-12">
            <h2>Life @ <span>Healthians</span></h2>
            <div class="clear"></div>
            <div class="container">
                <div class="col-sm-12 col-sm-12 col-xs-12">
                    <div class="col-sm-12">
                        <p>Robust people practices, a vibrant work culture and an environment that is friendly to learning and individual growth within the organization are what make Healthians a great place to work!
                            <br /> Our employee centric practices ensure the highest standards of fairness, equality, and honesty for all and our vision is to institutionalize a nurturing environment that enables both individual and organizational growth for each person working here.
                            <br />
                            <br /> At Healthians, you will gain exposure to work with skilled professionals and develop your knowledge through focused learning & development initiatives. Healthians actively encourages balancing personal life and professional commitments by providing flexible work schedules and industry leading employee benefit programs.
                            <br /> The fact that we develop our own best practices is one of the single biggest differentiating factors for us. Healthians prides itself on being an equal opportunity employer and its practices are a true reflection of its ethics and ethos. </p>
                    </div>
                    
                </div>
            </div>
            <div class="container">
                <div class="col-sm-12 col-sm-12 col-xs-12">
                    <div class="col-sm-6 col-sm-12 col-xs-12 ">
                        <h3 style="font-family: 'Pacifico', cursive;color:#00a0a8;font-size:26px;">Fun @ Work</h3>
                        <p>Healthians’s work environment is collegial and abuzz with round-the-year events. We continuously engage our people through an array of activities and events such as Diwali Celebration, New Year’s eve, Valentine’s special and a day with Family @ Healthians. That is not all; you can also enjoy each and every festival in its own special way with Healthians family. From music to games, you will find unlimited fun across our teams. </p>
                    </div>
                    <div class="col-sm-6 col-sm-12 col-xs-12 ">
                        <h3 style="font-family: 'Pacifico', cursive;color:#00a0a8;font-size:26px;">Talent Development</h3>
                        <p>As an organization, we continuously believe in learning and ensuring the growth of our people. There is great emphasis on making our people upbeat and in-control of the new developments. We follow an extremely focused approach in our learning & development initiatives and make sure that we are taking constructive measures towards enhancing and developing the professional and personal growth of the individuals through internal and external training programs.</p>
                        <p>Together, we believe we can do the best! So, join us to be a part of it all.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--life @ healthians -->
</div>
<!--people practice -->
<div class="container-fluid people-practice">
    <div class="row">
        <div class="col-sm-12 col-sm-12 col-xs-12">
            <h2>People <span>Practices</span></h2>
            <div class="container">
                <div class="col-sm-12 col-sm-12 col-xs-12">
                    <p style="text-align:center;">We are committed towards making Healhians a ‘great place to work for’ through our various initiatives.
                        <br />The following programs will help you understand the ethos of the organization:</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-sm-12 col-sm-12 col-xs-12">
                <div class="col-sm-6 col-sm-12 col-xs-12 ">
                    <h3 style="font-family: 'Pacifico', cursive;color:#00a0a8;font-size:26px;">Talent Acquisition</h3>
                    <p>At Healthians, recruitment at various levels is done through a competency model which focuses on behavior, skills and credentials. Through this process, Healthians ensures that the selected candidate is the right person not only in terms of his capabilities but also in terms of his alignment with the core values and culture of the organization. That’s not all; our employee referral program called “Prefer to Refer” plays a vital role in our hiring from across the industry and making our work culture even friendlier.</p>
                </div>
                <div class="col-sm-6 col-sm-12 col-xs-12 ">
                    <h3 style="font-family: 'Pacifico', cursive;color:#00a0a8;font-size:26px;">Talent Development</h3>
                    <p>Changing job requirements and fluctuating industry trends make it imperative that companies keep their people up-to-date with the latest skill sets and market information. Healthians continuously endeavors to enhance the capability, creativity and credibility of its people through various learning & development initiatives. While trainings, both internal and external, are on technical and behavioral skills, the prime focus is on grooming employees from within the company and preparing them to take up higher roles at Healthians itself.</p>
                </div>
                <div class="col-sm-6 col-sm-12 col-xs-12 ">
                    <h3 style="font-family: 'Pacifico', cursive;color:#00a0a8;font-size:26px;">Talent Management</h3>
                    <p>We continuously provide career development and growth opportunities to our people through rigorous mentoring and coaching which effectively propels employees to achieve greater heights in performance and enhance their professional and personal growth.</p>
                </div>
                <div class="col-sm-6 col-sm-12 col-xs-12 ">
                    <h3 style="font-family: 'Pacifico', cursive;color:#00a0a8;font-size:26px;">Talent Engagement</h3>
                    <p>By making our work environment open and invigorating, we give our people the opportunity to reinvent themselves and strive for higher grounds. The company encourages job rotation and internal selection at lateral levels to provide multiple career options to its people.</p>
                </div>
                <div class="col-sm-12 col-sm-12 col-xs-12 ">
                    <h3 style="font-family: 'Pacifico', cursive;text-align:center;color:#00a0a8;font-size:26px;">Talent Recognition</h3>
                    <p>Reward and recognition program appreciates and recognizes outstanding performance and achievements by employees through a series of rewards. Not only that; Healthians is known for its strong alumni network, strong cultural foundation and bonding with its employees. That is why a lot of people across lateral positions, including key senior levels, join us again after spending quite a few years outside. A true testament to the strength of Healthians’s people practices and work culture!</p>
                </div>
            </div>
            <div class="col-sm-12 col-sm-12 col-xs-12" style="padding-top:15px;">
                <div class="col-sm-4 col-sm-12 col-xs-12">
                    <img class="img-rounded img-thumbnail" src="assets/images/career05.jpg" width="100%" height="300">
                </div>
                <div class="col-sm-4 col-sm-12 col-xs-12">
                    <img class="img-rounded img-thumbnail" src="assets/images/career01.jpg" width="100%" height="300">
                </div>
                <div class="col-sm-4 col-sm-12 col-xs-12">
                    <img class="img-rounded img-thumbnail" src="assets/images/career03.jpg" width="100%" height="300">
                </div>
                
                
            </div>
            <div class="col-sm-12 col-sm-12 col-xs-12" style="padding-top:15px;">
                <div class="col-sm-4 col-sm-12 col-xs-12">
                    <img class="img-rounded img-thumbnail" src="assets/images/career02.jpg" width="100%" height="300">
                </div>
                <div class="col-sm-4 col-sm-12 col-xs-12">
                    <img class="img-rounded img-thumbnail" src="assets/images/career06.jpg" width="100%" height="300">
                </div>
                <div class="col-sm-4 col-sm-12 col-xs-12">
                    <img class="img-rounded img-thumbnail" src="assets/images/career04.jpg" width="100%" height="300">
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
<!--people practice ends -->
<section class="career-mid" id="careerAnchore">
    <div class="midsection">
        <div class="col-sm-12 col-sm-12 col-xs-12 opportunity">
            <h2>Opportunities @<span> Healthians</span></h2>
            <div class="container">
                <div class="col-sm-12 col-sm-12 col-xs-12">
                    <p style="text-align:center;">Opportunity to work with a leading brand in Health Care Industry
                        <br /> We are looking for talented professionals to fill in the below mentioned opportunities. Interested candidates may mail their resumes to <strong><a href="mailto:{{companyemail.careers}}">{{companyemail.careers}}</a></strong>.
                        <br />Please remember to mention the job title in the subject line.
                        <br /> For more information on the opportunities, please write to us at <strong><a href="mailto:{{companyemail.hr}}">{{companyemail.hr}}</a></strong>
                    </p>
                </div>
            </div>
        </div>
        <!--left -->
        <figure class="careerForm">
            <h2>Work with Us</h2>
            <div class="clear"></div>
            <form name="addAddressForm">
                <input name="name" ng-required="true" ng-model="addAddressForm.Name" type="text" placeholder="Your Full Name *" class="input-width" ng-class="{ 'has-error': ((addAddressForm.name.$dirty && addAddressForm.name.$error.required) || (signupFormSubmitted && !addAddressForm.Name)) }">
                <input ng-blur="visited = true" id="customeremail" name="customeremail" type="text" class="input-width" placeholder="Your Email Address *" ng-model="addAddressForm.customerEmail" ng-class="{ 'has-error': ((addAddressForm.customeremail.$dirty && addAddressForm.customeremail.$error.required) || (addAddressFormSubmitted && !addAddressForm.customerEmail)) ||(addAddressForm.customeremail.$error.pattern && visited) }" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z]+\.[A-Za-z.]{3,5}$/" ng-required="true">
                <input id="customerno" minlength="10" maxlength="10" name="customerno" type="text" class="input-width" placeholder="Your Mobile Number *" ng-model="addAddressForm.No" ng-class="{ 'has-error': ((addAddressForm.customerno.$dirty && addAddressForm.customerno.$error.required) || (addAddressFormSubmitted && !addAddressForm.no)) }" ng-required="true">
                <select name="selectcustomer" ng-model="post" ng-required="true" ng-options="list as list.name for list in postList">
                    <option value="" selected="selected">Select Job Profile</option>
                </select>
                <input id="customerexp" maxlength="4" name="customerexp" type="text" class="input-width" placeholder="Total Experience (in Years)*" ng-model="addAddressForm.Exp" ng-class="{ 'has-error': ((addAddressForm.customerexp.$dirty && addAddressForm.customerexp.$error.required) || (addAddressFormSubmitted && !addAddressForm.Exp)) }" ng-required="true">
                <input name="currentorg" ng-required="true" ng-model="addAddressForm.currentOrg" type="text" placeholder="Current Organization *" class="input-width" ng-class="{ 'has-error': ((addAddressForm.currentorg.$dirty && addAddressForm.currentorg.$error.required) || (signupFormSubmitted && !addAddressForm.currentOrg)) }">
                <input name="currentdes" ng-required="true" ng-model="addAddressForm.currentDes" type="text" placeholder="Current Designation *" class="input-width" ng-class="{ 'has-error': ((addAddressForm.currentdes.$dirty && addAddressForm.currentdes.$error.required) || (signupFormSubmitted && !addAddressForm.currentDes)) }">
                <select name="selectcustomer" ng-model="notice" ng-required="true" ng-options="list as list.name for list in noticPeriodList">
                    <option value="" selected="selected">Ready to Join</option>
                </select>
                <textarea name="addAddressForm.address" cols="" rows="" ng-model="addAddressForm.Address" placeholder="Address"></textarea>
                 <div class="up_report">Upload CV</div>
                <input type="file" id="uploadDoc" file-model="myFile">
               
                <li>
                    <div id="career_capt"></div>
                </li>
                <input type="submit" value="Submit" ng-click="verifyAddress()">
            </form>
        </figure>
        <!--left -->
        <!--right -->
        <article class="careerDesc">
            <div ui-view="collapse"></div>
        </article>
        <!--right -->
    </div>
    <div class="clear"></div>
</section>

<script type="text/javascript">
    var widgetIdCareer;
    var onloadCallback = function() {
        setTimeout(function(){
            if(typeof grecaptcha !== 'undefined') {
                if($('#career_capt').length) {
                    if(widgetIdCareer == 0) {

                    }
                    else {
                        widgetIdCareer = grecaptcha.render('career_capt', {'sitekey' : '6LcqInUUAAAAAJYyfRX0gLFeuzieL4Sq7Q8rKGJy'});
                    }                    
                }
            }
            else {
                onloadCallback();
            }
        }, 500);
    }
    setTimeout(function(){
        onloadCallback();
    }, 2000);

</script>
<!--header section starts here -->
<div ui-view="footer"></div>
<!--header section ends here -->