<!--header section starts here -->
<div ui-view="header"></div>
<!--header section ends here -->
<style type="text/css">
body {
    background: url(assets/images/bg.png) no-repeat center top #fff !important;
    background-size: 100% !important;
}
</style>>
<!--BANNER STARTS HERE -->
<div class="container">
    <div class="row">
        <div class="diwali-header">
            <div class="offer-info-container">
                <h2>Monitor your Health this <br>
                        Diwali & Stand a Chance to <span>Meet Yuvraj Singh!</span>
                    </h2>
                <p>Check Your Health Parameters with Healthians
                    <br> Exclusive Diwali Challenge Package</p>
                <ol>
                    <li>1. Accept Healthains' Diwali Challenge</li>
                    <li>2. Pay only for Pre Diwali test & get your Post Diwali Package for FREE</li>
                    <li>3. Get a chance to meet Yuvraj Singh post Diwali*</li>
                    <li>4. Get Daily Diet Tips for Healthy Diwali Eating from Qualified Nutritionist**</li>
                </ol>
                <div class="clear"></div>
                <div class="hashtag">#HealthwaliDiwali</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!--BANNER STARTS HERE -->
</div>
<!--PRICES SECTION STARTS HERE -->
<!--PRICES SECTION STARTS HERE -->
<div class="contest-section">
    <div class="container">
        <div class="row">
            <!--steps timeline -->
            <div class="col-md-6 steps-prize">
                <h3>What You Gain ?</h3>
                <ul>
                    <li><img src="assets/images/step_1.png">
                        <div class="stepArea">
                            <h4>An Evening with Yuvraj Singh</h4>
                            <p>5 Healthians Winners get to spend an evening with the fitness icon
                                <br>Mr. Yuvraj Singh. Don’t forget to get your Selfie Stick!</p>
                        </div>
                    </li>
                    <li><img src="assets/images/step_2.png">
                        <div class="stepArea">
                            <h4>YouWeCan Merchandise</h4>
                            <p>All Qualifiers get trendy YouWeCan merchandise signed by the cricket legend himself. Because Health always wins!
                                <br>
                                <br> So, Are you in ?
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!--step timeline ends here -->
            <!--steps offer -->
            <div class="col-md-6 deal-offer">
                <h3>Wondering What the Challenge is?</h3>
                <p>It's simple! Monitor your fitness levels with Healthains! Book a pre-Diwali Challenge Package for 899/- & we give you the same Post-Diwali Challenge Package for FREE. Your reports will be studied by our in-house doctors. Winners & Qualifiers will get exciting prizes. So, here is your chance to make 2016 Diwali healthier...don’t miss it! </p>
                <div class="packageinfo">
                    <h5>Diwali Challenge Package</h5>
                    <p>Includes:
                        <br> Lipid Profile, Liver Function Test, Glucose, Blood Pressure
                        <br>
                        <br> Fasting : Required | Report available in : 24 hours</p>
                    <div class="price"><span class="fontrupee">`</span> 899</div>
                    <div class="ctabutton">
                        <a href="javascript:void(0);" ng-click="pkgSearch(pkgDetail);">Take the Challenge Now!</a>
                    </div>
                </div>
            </div>
            <!--step offer ends here -->
        </div>
    </div>
</div>
<!--PRICES SECTION ENDS HERE -->
<!--T & C -->
<div class="contest-term">
    <div class="container">
        <div class="row">
            <h5>Term and Condition</h5>
            <p>1. Pre test dates are 24th to 29th October 2016.
                <br> 2. Post test dates are 2nd to 6th November 2016.
                <br> 3. This offer is valid on Diwali Challenge Package only.
                <br> 4. Qualifiers and winners will be adjudged by our in-house doctors after studying both before & after Diwali reports.
                <br> 5. Individuals who show a 15% rise in levels of their Lipid Profile parameters and FBS will not qualify for the competition.
                <br> 6. * 5 Winners will spend an evening with Mr. Yuvraj Singh.
                <br> 7. ** Visit our social pages for Daily Diet Tips.
                <br> 8. Healthians reserves the right, in it’s sole and absolute discretion, to select winners.
            </p>
        </div>
    </div>
</div>
<!--T & C -->
<div class="clear"></div>

<!--header section starts here -->
<div ui-view="footer"></div>
<!--header section ends here -->
