<!--header section starts here -->
<div ui-view="header"></div>
<!--header section ends here -->
<!--BANNER PANEL -->
<!--<section class="inverstorSlide"><img src="assets/images/healthians-investors-banner.png" alt="">
  <div class="caption">
      <h2>Our Investors</h2>     
    </div>
</section> -->
<section class="inner-banner"><img src="assets/images/investor.jpg" alt="">
    <div class="caption">
        <h1>Our Investors</h1>
        <span>Committed for better healthcare</span>
    </div>
</section>
<!--BANNER PANEL ENDS HERE -->
<div class="clear"></div>
<!--career CONTENT SECTION -->
<figure class="investors-panel">
    <div class="mid_panel">
             
        <section class="investors-colum">
            <aside class="investors-img">
            <a href="http://www.beenext.com/" target="_blank"><img src="assets/images/beenext.jpg" alt=""></a>
            </aside>
            <article class="investors-text">
                <h5><a href="http://www.beenext.com/" target="_blank">BEENEXT</a></h5>
                <p>BEENEXT is a partnership of the founders, by the founders, and for the founders and with operational experience they are becoming the standard for venture capitalists. They believe they can help entrepreneurs get to the next level by providing a highly unique perspective that comes from investing in start-ups in 9 different countries. Teruhide (Teru) Sato established BEENEXT to support and invest in entrepreneurs with an ambitious vision to make a significant impact on the society.</p>
                <p>"Healthians' unique model with focus on quality, cost and customer experience is highly scalable and expandable to other markets.” says Teruhide Sato, Founder and Managing Partner, BEENEXT.</p>
                <a href="http://www.beenext.com/" target="_blank" class="read-more">Read more..</a> </article>
            <div class="clear"></div>
        </section> 
      
        <section class="investors-colum">
            <aside class="investors-img">
            <a href="http://en.beenos.com/en/" target="_blank"><img src="assets/images/beenos.jpg" alt=""></a>
            </aside>
            <article class="investors-text">
                <h5><a href="http://en.beenos.com/en/" target="_blank">BEENOS</a></h5>
                <p>BEENOS Inc. is officially listed on the Tokyo Stock Exchange Market First Section. Their main focus in recent years has been on “Cross Border E-Commerce Business”. BEENOS aims to create new businesses and services using the internet to contribute in making a better world. Through their “Incubation Business”, they have continued to invest in businesses that have potential to grow in marketplaces that are anticipated to become the “next China”. They have currently invested in approximately 80 companies in 10 different countries.</p>
                <p>“The smiles on the faces of our customers worldwide is what drives us to take on new challenges” says Shota Naoi, President and Group CEO, BEENOS Inc.</p>
                <a href="http://en.beenos.com/en/" target="_blank" class="read-more">Read more..</a> </article>
            <div class="clear"></div>
        </section>      
        
        
        
        <section class="investors-colum">
            <aside class="investors-img">
            <a href="http://www.garage.co.jp/en/" target="_blank"><img src="assets/images/digital-garage.jpg" alt=""></a>
            </aside>
            <article class="investors-text">
                <h5><a href="http://www.garage.co.jp/en/" target="_blank">Digital Garage</a></h5>
                <p>Digital Garage has consistently positioned itself at the cutting edge of the Web, engaging in projects that have been recognized as "Japan's first" endeavours in their respective genres. They take pride in the fact that the history of the company represents the history of the Internet in Japan.</p>
                <p>Digital Garage creates "context" useful for the world, seeking how they can create "context" in ever-growing cyberspace, as well as real space, and how to connect Japan with the rest of the world, marketing with technology and the present with the future.</p>
                <a href="http://www.garage.co.jp/en/" target="_blank" class="read-more">Read more..</a> </article>
            <div class="clear"></div>
        </section>
        
        
         <section class="investors-colum">
            <aside class="investors-img">
                <a href="http://www.youwecanventures.com/" target="_blank"><img src="assets/images/you-we-can-venture.jpg" alt=""></a>
            </aside>
            <article class="investors-text">
                <h5><a href="http://www.youwecanventures.com/" target="_blank">You We Can Ventures</a></h5>
                <p>A Yuvraj Singh's initiative, helps exceptional entrepreneurs to tap into new opportunities on their journey to build great brands, teams and companies.</p>
                <p>Yuvraj was conferred with the Arjuna Award, India's second highest sporting award, in the year 2012 and Padma Shri, in the year 2014. In his second life, Yuvi wants to support young entrepreneurs in realising their dreams of creating next BIG BRANDS.</p>
                <a href="http://www.youwecanventures.com/" target="_blank" class="read-more">Read more..</a> </article>
            <div class="clear"></div>
        </section>
        
        
        <section class="investors-colum">
            <aside class="investors-img">
                <a href="http://healthstart.co.in/" target="_blank"><img src="assets/images/healthstart.jpg" alt=""></a>
            </aside>
            <article class="investors-text">
                <h5><a href="http://www.youwecanventures.com/" target="_blank">HealthStart</a></h5>
                <p>HealthStart is India's first accelerator program dedicated to support startups in healthcare industry through funding, mentorship and other requisite support. HealthStart model of active mentorship through a dedicated curriculum, industry focus and active support from industry experts are key differentiators in the Indian venture capital ecosystem. HealthStart has 8 investments through its incubation/ acceleration and seed investment programs in the last 2 years. HealthStart has an unique distinction where in all our portfolio companies are successfully scaling up their operations and most have raised follow on funding.</p>
                <a href="http://www.youwecanventures.com/" target="_blank" class="read-more">Read more..</a> </article>
            <div class="clear"></div>
        </section>  
        
        
        <div class="clear"></div>
    </div>
</figure>
<!--career CONTENT SECTION -->
<!--header section starts here -->
<div ui-view="footer"></div>
<!--header section ends here -->