<!--HEADER SECTION STARTS HERE -->
<header id="header">
  
  <div class="container midsection">
    <div class="header-logo"><a href="/"><img src="/assets/images/logo.png"></a></div>
    <div class="call-us-now"><a href="tel:{{companyphone.hyperlink_no}}"><i class="glyphicon glyphicon-earphone"></i>
    <span ng-bind="companyphone.display_no"></span></a> </div>
  </div>
</header>
<!--HEADER SECTION STARTS HERE -->
<div class="clear"></div>
<div class="mid-campaign-panel">
  <div class="container main-wrap">
    <div class="row" style="margin-bottom:0px;">
      <div class="col-md-7 col-xs-12">
        <div class="middle-sec-cont"> <div class="yuvraj_pic"><img src="/assets/images/yuvraj.png"></div> </div>
      </div>
      <div ng-include="'template/instantAddToCart.html'"></div>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="usps-landing">
<div class="container">

<ul>
<li><img src="/assets/images/usp_01.jpg" /></li>
<li><img src="/assets/images/usp_02.jpg" /></li>
<li><img src="/assets/images/usp_03.jpg" /></li>
<li><img src="/assets/images/usp_04.jpg" /></li>
</ul>

</div>
</div>

<div class="clear"></div>

<div class="footer-copy">2018 @ Healthians.com | <a href="https://www.healthians.com/terms-condition" target="_blank">Legals</a></div>

<!-- <section class="discount-code" >
    <div class="box-content active">
        <div id="couponclose">x</div>
        <a href="/deals"><img src="assets/images/couponweb.jpg" alt="" copy-to-clipboard text-to-copy="'SUMMER20'"></a>
    </div>
    <div class="clear"></div>     
    <a class="box-toggle fl active" href="#">
        <div class="coupon-handle">
            <strong>Get 20% Discount</strong>
            <span class="glyphicon glyphicon-chevron-down" style="font-size:11px; margin-left:10px;"></span>
        </div>
    </a>  
    <div class="clear"></div>
</section> -->