<div ui-view="header"></div>
<!--header section ends here -->
<div class="clear"></div>
<!-- Reset password-->
<div class="container reset" ng-show="!resetSucess">
    <h1>Reset Your Password</h1>
    <p>
        You have successfully been identified.
        <br> You may now set your password. Your account will be enabled with this new password.
    </p>
    <form name="resetPwdForm" novalidate>
        <ul>
            <li>
                <input name="userpwd" id="userpwd" type="password" placeholder="Password" data-ng-model="resetPwdForm.userPwd" class="reset-ps userkey" ng-class="{ 'has-error': ((resetPwdForm.userpwd.$dirty && resetPwdForm.userpwd.$error.required) || (resetPwdFormSubmitted && !resetPwdForm.userPwd)) }" autofocus required/>
                <span ng-show="((resetPwdForm.userpwd.$dirty && resetPwdForm.userpwd.$error.required) || (resetPwdFormSubmitted && !resetPwdForm.userPwd))" class="help-block">Password is required</span>
            </li>
            <li>
                <input name="userconfmpwd" id="userconfmpwd" type="password" placeholder="Confirm Password" data-ng-model="resetPwdForm.userConfmPwd" class="reset-ps userkey" ng-class="{ 'has-error': ((resetPwdForm.userconfmpwd.$dirty && resetPwdForm.userconfmpwd.$error.required) || (resetPwdFormSubmitted && !resetPwdForm.userConfmPwd)) }" autofocus required/>
                <span ng-show="((resetPwdForm.userconfmpwd.$dirty && resetPwdForm.userconfmpwd.$error.required) || (resetPwdFormSubmitted && !resetPwdForm.userConfmPwd))" class="help-block">Confirm Password is required</span></li>
            <div class="loginfailed" ng-show="passwordnotmatched">Password/Confirm password mismatched.</div>
            <div class="loginfailed" ng-show="linkexpired"><span ng-bind="errorMsg"></span></div>
            <li>
                <input type="button" value="Reset" class="submit-reset" ng-click="reset(resetPwdForm.$valid);">
            </li>
        </ul>
    </form>
</div>
<!--Login Now -->
<div class="container reset" ng-show="resetSucess">
    <h1>Your Password has been changed successfully.</h1>
    <p>
        You can now use your new password with login Id.
        <br> For security reasons, you should not share your password with anyone.
    </p>
    <ul class="no-mt">
        <li>
            <input type="button" value="Login" class="submit-reset no-mt" ng-click="showLoginForm();  ">
        </li>
    </ul>
    <p style="font-size:14px; margin:14px 0px 50px 0px;">
        If you have any questions or encounter any problems logging in, please contact our customer care.
    </p>
</div>

<div class="clear"></div>
<!--header section starts here -->
<div ui-view="footer"></div>
<!--header section ends here 