<!--header section starts here -->
<div ui-view="header"></div>
<!--header section ends here -->
<div class="clear"></div>
<div class="clear"></div>
<!--ABOUT CONTENT SECTION -->
<section class="about-content">
  <div class="mid_panel"> 
    
    <!--TERMS HEALTHIANS -->
    <section class="terms-conditions">
      <div class="terms-conditions"> 
         <h1>Offer Term & Conditions</h1>
         <ul>
         <li style="font-size:14px; padding-bottom:7px;"> - Flat 20% off on all online test bookings using code - HEALTH20 on the payment page.</li>

        <li style="font-size:14px; padding-bottom:7px;"> - Only one promo code is applicable per booking.</li>

        <li style="font-size:14px; padding-bottom:7px;"> - The offer is valid till for fixed period of time.</li>

        <li style="font-size:14px; padding-bottom:7px;"> - HEALTH20 is applicable on minimum cart value of Rs.1000</li>
        <li style="font-size:14px; padding-bottom:7px;"> - The offer is applicable only on bookings via website and app.</li>
        <li style="font-size:14px; padding-bottom:7px;"> - Offer applicable for all cities.</li>
      </ul>
        <!--terms --><br>
        <img src="assets/images/deals-banner-option1.jpg" style="width:100%;" />
       
        

          
        

<p>&nbsp;</p>
<p>&nbsp;</p>









      
      </div>
      
      <div class="clear"></div>
    </section>
    <!--TERMS HEALTHIANS ENDS HERE --> 
    
  </div>
  <div class="clear"></div>
</section>
<!--header section starts here -->
<div ui-view="footer"></div>
<!--header section ends here -->
