
<!-- header section starts here -->
<style >
footer {
	display: none;
}
.progress { 
  height: 3em;
  i { line-height: 3.5em; }
}

.progress-bar { 
  transition: width 1s ease-in-out; 
}
</style>
<!--static header -->
<div>
    <header class="blueHead">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-lg-3 col-xs-3">
                        <div class="inside_logo">
                            <a href="/"><img src="https://cdn1.healthians.com/assets/images/logo_healthians.png"></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-xs-9 talign" style="margin-top:8px;">
                        <div class="call_ivr mbview">
                            <a href="tel:{{companyphone.hyperlink_no}}">
                                <i class="glyphicon glyphicon-earphone"></i>
                                <span ng-bind="companyphone.display_no"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </header>
</div>
<!--static header -->

<div class="container">
  <div ng-show="loaderVar" style="font-size: 15px;padding-top: 30%;color:#00a0a8;text-align: center;">Please wait </div> 
  <div ng-show="loaderVar" class="loader initial" style="font-size: 15px;margin-top: 1%;color: red;"></div>  
</div>
<!--main mid panel ends --> 

<!--footer section starts here -->
<div ui-view="footer"></div>
<!--footer section ends here -->