<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700" rel="stylesheet">
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
p {
	font-family: 'Roboto', sans-serif;
}

</style>
<!--wellness starts here-->
<header class="masthead wellness-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 well_nopadd">
        <div class="col-lg-7 col-xs-12 col-xs-12"> 
          
          <!--logo main -->
        <div class="logomain"> <a href="/"><img src="https://cdn1.healthians.com/assets/images/logo_healthians.png" alt="Healthians - India's largest health & blood test service at home"></a> </div>
          <!--logo main -->
          
          <div class="caption_top">
            <h1>Healthians Wellness Program</h1>
            <p>From Diagnosis to Recovery</p>
          </div>
          <div class="caption_mid">
            <h2>India's First Complete Health CARE Program</h2>
            <!--<p>Customized 'Post Test' Wellness Program for a Healthier YOU!</p> -->
          </div>
          <div class="introductory">
            <div class="offertitle">Introductory
              offer</div>
            <div class="slashed_price" style="font-weight:normal;">Price : <span class="fontrupee size-price" style="font-weight:normal; padding:0px; padding-right:4px;">`</span><p class="slashed">999/</p>
            </div>
            <div class="mrp"><span class="fontrupee rupeeIcon">`</span>499/-</div>
          </div>
        </div>
        <div class="col-lg-5"><img src="../../assets/images/yuvi-wellness.png" class="wellnessimg" /></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</header>

<!--wellness ends here-->

<div class="clear"></div>
<div class="wellness_contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>For Booking An Order or Any Query</p>
        <strong>999-888-000-5</strong> </div>
    </div>
  </div>
</div>
<div class="container wellness_services">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="text-transform:uppercase; letter-spacing:1px;">What is in here for you?</h2>
      <p>Customized 'POST TEST' Wellness Program for a Healthier YOU!</p>
      <div class="col-lg-12 well_serv">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="feature-item">
                <div class="iconclass"><img src="../../assets/images/wellness_guide_book.png" /></div>
                <h3>Comprehensive<br />Guide Book</h3>
                <p class="text-muted">Manage your health better</p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature-item">
                <div class="iconclass"><img src="../../assets/images/doc_consultation.png" /></div>
                <h3>Doctor<br />Consultation</h3>
                <p class="text-muted">Know your health status better</p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature-item">
                <div class="iconclass"><img src="../../assets/images/diet_customize.png" /></div>
                <h3>Customized Diet<br />Plan for 4 weeks</h3>
                <p class="text-muted">Post doctor consultation</p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature-item">
                <div class="iconclass"><img src="../../assets/images/lifestyle_icon.png" /></div>
                <h3>Complimentary Follow-up<br /> with Dietician</h3>
                <p class="text-muted">Clear all your doubts regarding your diet plan</p>
              </div>
            </div>
            <div class="clear" style="height:50px;"></div>
            <div class="col-lg-3">
              <div class="feature-item">
                <div class="iconclass"><img src="../../assets/images/health_karma.png" /></div>
                <h3>Your Health<br />Karma</h3>
                <p class="text-muted">Score your lifestyle & know your risk areas</p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature-item">
                <div class="iconclass"><img src="../../assets/images/lifestyle_icon.png" /></div>
                <h3>Future Roadmap & <br /> Lifestyle guidance</h3>
                <p class="text-muted">What you should do & what should be avoided</p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature-item">
                <div class="iconclass"><img src="../../assets/images/wisdom_words.png" /></div>
                <h3>Words of<br />Wisdom</h3>
                <p class="text-muted">Expert advice on required investigations & consultations</p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature-item">
                <div class="iconclass"><img src="../../assets/images/health_track.png" /></div>
                <h3>Health<br />Tracker</h3>
                <p class="text-muted">Keep a track of your basic vitals Weight, BP, Sugar, Medicines etc.</p>
              </div>
            </div>
            
            
          </div>
          <div class="row"><div class="clear" style="height:30px;"></div> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--header section starts here -->
<div ui-view="footer"></div>
<!--header section ends here -->
