
<div ui-view="header"></div>
<div class="clear"></div>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<!--coupon deals section starts here --> 

<a href="/offer-terms-conditions" target="_blank"><div class="deal-banner" ng-click="copyToClipboard('HEALTH20','c1')">
  <div class="container">
    
  </div>
</div>
</a>

<!-- <div class="banner-content">
     <h1>Special Deals & Discounts</h1>
      <div class="thick-border"></div>
      <div class="thin-border"></div>
      <p>Check out the best deals and packages<br> -->
         
     <!--<section>&nbsp;</section> 
    </div>-->

<!--<div class="rb_campaign">
  <div class="container">
    <div class="banner-text">
      <h4>Good Health ko Ghar Bulao</h4>
      <h2>Flat 25% Off</h2>
      <h3>on all online bookings</h3>
      <h5>Use code: <strong>HEALTH25</strong></h5>
      <div class="bookNow"><a href="">Book Now</a></div>
      <p style="color:#fff;">*Offer valid till 20th January  |  *Minimum order value ₹1000</p>
    </div>
  </div>
</div> -->






<!-- package detail--> 

<!--Offer & Deal Page -->
<div class="container offer_deals">
  <h2>Deals & Offers</h2>
  <div class="row">     
    
        <div class="col-md-4">
      <div class="dealcolumn">
        <div class="imgcontent"><img src="assets/images/basic-screeningthumb.jpg" class="img-responsive" /></div>
        <div class="maindealpanel">
          <h4>Basic Screening Package</h4>
         
          <div class="clear"></div>
          
           <p class="content" style="font-size:15px; line-height:19px; color:#5d5d5d;">Basic 60 tests required to screen your health</p>
           <div class="usecoupon">
          <div class="booknowdeal"><a href="https://www.healthians.com/package/basic-screening-package-5" target="_blank">Book Now</a></div>
          </div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="dealcolumn">
        <div class="imgcontent"><img src="assets/images/basic-screening-thumb.jpg" class="img-responsive" /></div>
        <div class="maindealpanel">
          <h4>Healthians Full Body Checkup with Vitamin D and CBC</h4>
         
          <div class="clear"></div>
          
           <p class="content" style="font-size:15px; line-height:19px; color:#5d5d5d;">72 parameters to check the functioning of various vital organs of the body</p>
           <div class="usecoupon">
          <div class="booknowdeal"><a href="https://www.healthians.com/package/healthians-full-body-checkup-with-vitamin-d-and-cbc" target="_blank">Book Now</a></div>
          </div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="dealcolumn">
        <div class="imgcontent"><img src="assets/images/flat25-offer.jpg" class="img-responsive" /></div>
        <div class="maindealpanel">
          <h4>One Plus One Advanced Full Body Checkup (Male)</h4>
         
          <div class="clear"></div>
          
           <p class="content" style="font-size:15px; line-height:19px; color:#5d5d5d;">Keeping the men of the house in check with 80 health parameters</p>
           
           <div class="usecoupon">
          <div class="booknowdeal"><a href="https://www.healthians.com/package/oneplusone-full-advanced-full-body-checkup-male" target="_blank">Book Now</a></div>
          
          <div class="usecoupon" ng-click="copyToClipboard('ONEPLUS3999', 'c3')">
            <p>Use Code: <strong>ONEPLUS3999</strong>
              <img src="assets/images/copy-img.png" style="cursor:pointer;" ng-hide="cpelem['c3'] == 'Copied'" title="Click to Copy"/>
              <img src="assets/images/copy-orange.png" style="cursor:pointer;" ng-hide="cpelem['c3'] == 'copy'" title="Copied"/>

            </p>
          </div>
          
          
          </div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="dealcolumn">
        <div class="imgcontent"><img src="assets/images/fuul-body-female.jpg" class="img-responsive" /></div>
        <div class="maindealpanel">
          <h4>One Plus One Advanced Full Body Checkup (Female)</h4>
         
          <div class="clear"></div>
          
           <p class="content" style="font-size:15px; line-height:19px; color:#5d5d5d;">81 important parameters to check women health. Buy 1 get 1 free.</p>
           
           <div class="usecoupon">
          <div class="booknowdeal"><a href="https://www.healthians.com/package/oneplusone-advanced-full-body-checkup-female" target="_blank">Book Now</a></div>
          
          <div class="usecoupon" ng-click="copyToClipboard('ONEPLUS3999', 'c4')">
            <p>Use Code: <strong>ONEPLUS3999</strong>
              <img src="assets/images/copy-img.png" style="cursor:pointer;" ng-hide="cpelem['c4'] == 'Copied'" title="Click to Copy"/>
              <img src="assets/images/copy-orange.png" style="cursor:pointer;" ng-hide="cpelem['c4'] == 'copy'" title="Copied"/>

            </p>
          </div>
          
          
          </div>
          </div>
      </div>
    </div>
    
<div class="col-md-4">
      <div class="dealcolumn">
        <div class="imgcontent"><img src="assets/images/one-risk-assessment.jpg" class="img-responsive" /></div>
        <div class="maindealpanel">
          <h4>Healthians One Plus One Risk Assessment Package</h4>
         
          <div class="clear"></div>
          
           <p class="content" style="font-size:15px; line-height:19px; color:#5d5d5d;">Know the health risks of 2 people at the cost of 1  </p>
           
           <div class="usecoupon">
          <div class="booknowdeal"><a href="https://www.healthians.com/package/healthians-one-plus-risk-assesment-package-5999" target="_blank">Book Now</a></div>
          
          <div class="usecoupon" ng-click="copyToClipboard('ONEPLUS3999', 'c5')">
            <p>Use Code: <strong>ONEPLUS3999</strong>
              <img src="assets/images/copy-img.png" style="cursor:pointer;" ng-hide="cpelem['c5'] == 'Copied'" title="Click to Copy"/>
              <img src="assets/images/copy-orange.png" style="cursor:pointer;" ng-hide="cpelem['c5'] == 'copy'" title="Copied"/>

            </p>
          </div>
          
          
          </div>
          </div>
      </div>
    </div>
    
    
    
    
    <div class="col-md-4" ng-click="copyToClipboard('APP25', 'c2')">
      <div class="dealcolumn">
        <div class="imgcontent"><img src="assets/images/deal02.jpg" class="img-responsive" /></div>
        <div class="maindealpanel">
          <h4>Get 25% Additional Discount on your first booking with Healthians </h4>
          <div class="clear"></div>
          
          <p class="content" style="font-size:15px; line-height:19px; color:#5d5d5d;">*Only applicable on first booking for mobile app users on the amount of Rs.999 & above</p>
          <div class="usecoupon" ng-click="copyToClipboard('APP25', 'c2')">
            <p>Use Code: <strong>APP25</strong>
              <img src="assets/images/copy-img.png" style="cursor:pointer;" ng-hide="cpelem['c2'] == 'Copied'" title="Click to Copy"/>
              <img src="assets/images/copy-orange.png" style="cursor:pointer;" ng-hide="cpelem['c2'] == 'copy'" title="Copied"/>

            </p>
          </div>
        </div>
      </div>
    </div>
    
    

    <!--deals -->
    <div class="col-md-4">
      <div class="dealcolumn">
        <div class="imgcontent"><img src="assets/images/mobikwik_deal.jpg" class="img-responsive" /></div>
        <div class="maindealpanel">
          <h4>Get 15% Supercash when you pay through Mobikwik </h4>
          <div class="clear"></div>
                
          <p class="content" style="font-size:15px; line-height:19px; color:#5d5d5d;">*Only applicable for Supercash upto Rs. 200, valid for once per user per month with a minimum transaction size of Rs. 11</p>
           <div class="usecoupon"> 
          </div>  
        </div>
      </div>
    </div>
    
    
    
    
    
    
    

    
  </div>
</div>

</div>
<!--coupon deals section starts here -->
<div class="clear"></div>
<!--footer section starts here -->
<div ui-view="footer"></div>
<!--footer section ends here 