<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
<style>
body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

footer {
    background: #fff !important;
}

.help-block {
    text-align: left;
    color: #fff !important;
}
.span_sub_test {font-size:50% !important; line-height:40px; display: inline-block !important;}
.rs_class {font-weight:normal; padding:0px; padding-right:2px;}
</style>

<div class="main_health_checkup_div" ng-bind-html="trustAsHtml(main_html)" compile-template>
</div>

<!-- footer -->
<login-modal visible="compaignmsg">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div style="margin:0px auto; background:#fff; padding:30px 0px;">
        <div class="lead-pg-popup web2-thankyou">
            <section>
                <h6>Thank You for sharing your details with us. </h6>
                <p>Our Customer Care Executive will get in contact with you and would help you choose the most suitable health package.
                </p>
            </section>
        </div>
    </div>
</login-modal>
<style type="text/css">
.zopim {
    display: none !important;
}
</style>