<!--header section starts here -->
<div ui-view="header"></div>
<!--header section ends here -->
<div class="clear"></div>


<!--Missed Call Section starts here -->
<div class="missedcall-wrap">
    <div class="missed-call-panel">
        <div class="cc-executive"></div>
        <div class="right-msg">          
            <h3>Thank you for contacting us</h3>
            <hr>
            <div class="clear"></div>            
            <h5>Our <strong>Customer Care Executive will get in contact</strong> with you and would help you choose the <strong>most suitable health package</strong></h5>
           
        </div>
    </div>   
</div>
<!--Missed Call Section ends here -->



<div class="clear"></div>
