<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700" rel="stylesheet">
<style>
body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.arrowbounce {
    text-align: center;
    margin: 0px auto;
}

body {
    background: #f9f9f9 !important;
}

.in-media {
    background: #f9f9f9;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

footer {
    background: #fff !important;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-14px);
    }
    60% {
        transform: translateY(-7px);
    }
}
</style>
<!--header section -->
<div class="adwords-header">
    <div class="container mid-wrap">
        <div class="row">
            <div class="col-lg-12">
                <div class="logopanel">
                    <div class="main-logo"> <img src="assets/images/campaign/healthians-logo-campaign.png" /> </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-5 col-md-5 col-xs-12">
                    <div class="web_adwords_left">
                        <!--mobile only view -->
                        <div class="mob_package_info">
                            <div class="mob_yuvi">
                                <div class="web_adwords_deal">
                                    <div class="mob-circular-deal">
                                        <ul class="mob-slider-package">
                                          <li>
                                              <div class="discount-bubble">74<sup>%</sup> <span>OFF</span></div>
                                              <div class="overflowhide">
                                                  <div class="top_test_name">
                                                      <h3>Liver</h3>
                                                      <p>(12 Tests)</p>
                                                  </div>
                                                  <div class="bottom_test_mrp">
                                                      <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 950/</h4>
                                                      <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 250/-</h2>
                                                  </div>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="discount-bubble">51<sup>%</sup> <span>OFF</span></div>
                                              <div class="overflowhide">
                                                  <div class="top_test_name">
                                                      <h3>Thyroid</h3>
                                                      <p>(3 Tests)</p>
                                                  </div>
                                                  <div class="bottom_test_mrp">
                                                      <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 550/</h4>
                                                      <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 270/-</h2>
                                                  </div>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="discount-bubble">50<sup>%</sup> <span>OFF</span></div>
                                              <div class="overflowhide">
                                                  <div class="top_test_name">
                                                      <h3>HbA1c</h3>
                                                      <p>(2 Tests)</p>
                                                  </div>
                                                  <div class="bottom_test_mrp">
                                                      <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 700/</h4>
                                                      <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 350/-</h2>
                                                  </div>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="discount-bubble">67<sup>%</sup> <span>OFF</span></div>
                                              <div class="overflowhide">
                                                  <div class="top_test_name">
                                                      <h3>Kidney</h3>
                                                      <p>(11 Tests)</p>
                                                  </div>
                                                  <div class="bottom_test_mrp">
                                                      <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 750/</h4>
                                                      <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 250/-</h2>
                                                  </div>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="discount-bubble">54<sup>%</sup> <span>OFF</span></div>
                                              <div class="overflowhide">
                                                  <div class="top_test_name">
                                                      <h3>Cholesterol</h3>
                                                      <p>(9 Tests)</p>
                                                  </div>
                                                  <div class="bottom_test_mrp">
                                                      <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 650/</h4>
                                                      <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 300/-</h2>
                                                  </div>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="discount-bubble">59<sup>%</sup> <span>OFF</span></div>
                                              <div class="overflowhide">
                                                  <div class="top_test_name">
                                                      <h3>Vitamin D</h3>
                                                      <p>(1 Test)</p>
                                                  </div>
                                                  <div class="bottom_test_mrp">
                                                      <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 1700/</h4>
                                                      <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 700/-</h2>
                                                  </div>
                                              </div>
                                          </li>
                                      </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--mobile only view ends -->
                        <h1>100% Accurate and Painfree<br />
              Health Test at Home</h1>
                        <div class="adwordsform">
                            <form name="addLeadForm" novalidate>
                                <div class="field-form">
                                    <select class="form-select minimal" id="package" name="package" ng-model="PackageList" ng-required="true">
                                        <option value="">Select Test</option>
                                        <option value="Lipid">Lipid</option>
                                        <option value="Liver">Liver</option>
                                        <option value="Thyroid">Thyroid</option>
                                        <option value="HbA1c">HbA1c</option>
                                        <option value="Cholesterol">Cholesterol</option>
                                        <option value="Vitamin D">Vitamin D</option>
                                    </select>
                                    <div ng-show="((addLeadForm.package.$dirty && addLeadForm.package.$invalid) || (addLeadFormSubmitted && !addLeadForm.package))" class="help-block">
                                        <span ng-show="addLeadForm.package.$error.required">Please select Package.</span>
                                    </div>
                                </div>
                                <div class="field-form">
                                    <input id="customerno" minlength="10" maxlength="10" name="customerno" type="text" class="mob-icon" placeholder="Enter your Mobile Number" ng-model="customerNo" ng-pattern="/^\d{10}$/" ng-class="{ 'has-error': ((addLeadForm.customerno.$dirty && addLeadForm.customerno.$error.required) || (addLeadFormSubmitted && !customerNo)) ||(addLeadForm.customerno.$error.pattern && visited) }" ng-required="true" autocomplete="false" style="background-color:#fff !important;" />
                                    <div ng-show="((addLeadForm.customerno.$dirty && addLeadForm.customerno.$invalid) || (addLeadFormSubmitted && !addLeadForm.customerno))" class="help-block">
                                        <span ng-show="addLeadForm.customerno.$error.required">Mobile No. is required</span>
                                        <span ng-show="addLeadForm.customerno.$error.pattern && !addLeadForm.customerno.$error.required && addLeadForm.customerno.$touched"> Enter valid Mobile No.</span>
                                    </div>
                                </div>
                                <div class="field-form">
                                    <input name="name" id="name" type="text" class="user-icon" placeholder="Enter your Name" ng-required="true" ng-model="customerName" ng-class="{ 'has-error': ((addLeadForm.name.$dirty && addLeadForm.name.$error.required) || (addLeadFormSubmitted && !customerName)) ||(addLeadForm.name.$error.pattern && visited) }" ng-pattern="/^[A-Za-z ]+$/" style="background-color:#fff !important;" />
                                    <div ng-show="((addLeadForm.name.$dirty && addLeadForm.name.$invalid) || (addLeadFormSubmitted && !addLeadForm.name))" class="help-block">
                                        <span ng-show="addLeadForm.name.$error.required">Name is required</span> <span ng-show="addLeadForm.name.$error.pattern && !addLeadForm.name.$error.required"> Enter valid Name </span>
                                    </div>
                                </div>
                                <div class="field-form">
                                    <select class="form-select minimal" id="city" name="city" ng-model="City" ng-options="cities.city_id as cities.city_name for cities in cityList" ng-required="true" ng-class="{ 'has-error': ((addLeadForm.city.$dirty && addLeadForm.city.$error.required) || (addLeadFormSubmitted && !addLeadForm.city)) }">
                                        <option value="">Select your City</option>
                                    </select>
                                    <div ng-show="((addLeadForm.city.$dirty && addLeadForm.city.$invalid) || (addLeadFormSubmitted && !addLeadForm.city))" class="help-block">
                                        <span ng-show="addLeadForm.city.$error.required">Please select city.</span>
                                    </div>
                                </div>
                                <div class="field-form">
                                    <div id="capt_landing"></div>
                                </div>  
                                <div class="field-button">
                                    <input name="" value="Get Free Call Now" type="button" ng-click="sendLandingDetails()" analytics-on="click" analytics-category="Adword Campaign" analytics-event="Get Free Call Now" />
                                    <p style="display: none;font-size: 15px;padding: 2px 6px;line-height: 0px;font-weight: normal;padding: 25px 0px 10px 0px;color: #000000;text-align: center;" id="timeticker"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xs-12">
                    <div class="web_adwords_right">
                        <div class="circular-deals">
                            <ul>
                                <li>
                                    <div class="discount-bubble">74<sup>%</sup> <span>OFF</span></div>
                                    <div class="overflowhide">
                                        <div class="top_test_name">
                                            <h3>Liver</h3>
                                            <p>(12 Tests)</p>
                                        </div>
                                        <div class="bottom_test_mrp">
                                            <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 950/</h4>
                                            <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 250/-</h2>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="discount-bubble">51<sup>%</sup> <span>OFF</span></div>
                                    <div class="overflowhide">
                                        <div class="top_test_name">
                                            <h3>Thyroid</h3>
                                            <p>(3 Tests)</p>
                                        </div>
                                        <div class="bottom_test_mrp">
                                            <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 550/</h4>
                                            <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 270/-</h2>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="discount-bubble">50<sup>%</sup> <span>OFF</span></div>
                                    <div class="overflowhide">
                                        <div class="top_test_name">
                                            <h3>HbA1c</h3>
                                            <p>(2 Tests)</p>
                                        </div>
                                        <div class="bottom_test_mrp">
                                            <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 700/</h4>
                                            <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 350/-</h2>
                                        </div>
                                    </div>
                                </li>
                                <div class="clear"></div>
                                <li>
                                    <div class="discount-bubble">67<sup>%</sup> <span>OFF</span></div>
                                    <div class="overflowhide">
                                        <div class="top_test_name">
                                            <h3>Kidney</h3>
                                            <p>(11 Tests)</p>
                                        </div>
                                        <div class="bottom_test_mrp">
                                            <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 750/</h4>
                                            <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 250/-</h2>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="discount-bubble">54<sup>%</sup> <span>OFF</span></div>
                                    <div class="overflowhide">
                                        <div class="top_test_name">
                                            <h3>Cholesterol</h3>
                                            <p>(9 Tests)</p>
                                        </div>
                                        <div class="bottom_test_mrp">
                                            <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 650/</h4>
                                            <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 300/-</h2>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="discount-bubble">59<sup>%</sup> <span>OFF</span></div>
                                    <div class="overflowhide">
                                        <div class="top_test_name">
                                            <h3>Vitamin D</h3>
                                            <p>(1 Test)</p>
                                        </div>
                                        <div class="bottom_test_mrp">
                                            <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 1700/</h4>
                                            <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 700/-</h2>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--header section ends -->
<!--scroller tests -->
<div class="adwords-test-list">
    <div class="container adwordsmid">
        <div class="row">
            <div class="col-lg-12">
                <div class="profile-slider">
                    <div class="profile-main">
                        <div class="profile-list" style="cursor:pointer;">
                            <div>
                                <h1>Liver</h1>
                                <p>Liver Function test is required to screen the health of liver in Viral Hepatitis(A, B, C), Cirrhosis, Alcoholic Liver Disease or to monitor the effect of certain medicines, or to monitor an existing liver disease and to check the effectiveness of its treatment; by measuring the levels of proteins, liver enzymes, or bilirubin in blood.</p>
                                <div class="pricesection">
                                    <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 950/</h4>
                                    <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 250/-</h2>
                                </div>
                                
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="parameterlist">
                            <ul>
                                <li>Albumin, Serum</li>
                                <li>Alkaline Phosphatase, Serum</li>
                                <li>Bilirubin Direct, Serum</li>
                                <li>Bilirubin Total, Serum</li>
                                <li>GGTP (Gamma GT)</li>
                                <li>Proteins, Serum</li>
                                <li>SGOT AST, SGPT ALT</li>
                             
                                <li>Bilirubin- Indirect, serum</li>
                                <li>Globulin</li>
                                <li>A/G Ratio</li>
                                <li>SGOT/SGPT Ratio</li>
                            </ul>
                        </div>
                    </div>
                    
                    
                    <div class="profile-main">
                        <div class="profile-list" style="cursor:pointer;">
                            <div>
                                <h1>Thyroid</h1>
                                <p>Thyroid function tests are a series of blood tests required in case of hypothyroidism (weight gain, lack of energy, depression, menstrual problems) or hyperthyroidism (weight loss, high levels of anxiety, tremors, cardiac problems, menstrual problems). Available tests include the T3, T3RU, T4, and TSH. </p>
                                <div class="pricesection">
                                    <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 550/</h4>
                                    <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 270/-</h2>
                                </div>
                                
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="parameterlist">
                            <ul>
                                <li>T3, Total Tri Iodothyronine</li>
                                <li>T4, Total Thyroxine</li>
                                <li>TSH-Ultrasensitive</li>
                            
                            </ul>
                        </div>
                    </div>
                    
                    
                    <div class="profile-main">
                        <div class="profile-list" style="cursor:pointer;">
                            <div>
                                <h1>HbA1c</h1>
                                <p>The HbA1c test represents what a person's average blood glucose level was for the last 2 to 3 months before the test. This can help determine how well a person's diabetes is being controlled over time. </p>
                                <div class="pricesection">
                                    <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 700/</h4>
                                    <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 350/-</h2>
                                </div>
                                
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="parameterlist">
                            <ul>
                                <li>Glycated Hemoglobin (HbA1c)</li>
                                <li>Average blood glucose</li>
                              
                            
                            </ul>
                        </div>
                    </div>
                    
                    
                    
                    
                    <div class="profile-main">
                        <div class="profile-list" style="cursor:pointer;">
                            <div>
                                <h1>Kidney</h1>
                                <p>Kidney Function Test are a panel of test which are required when symptoms of kidney disorder; as in urinary tract infection, diabetes, high blood pressure, kidney stones and excessive use of pain killers, is noticed. Frequent urination, blood or pain while passing urine, swelling of hands and feet are common symptoms.  </p>
                                <div class="pricesection">
                                    <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 750/</h4>
                                    <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 250/-</h2>
                                </div>
                                
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="parameterlist">
                            <ul>
                                <li>BUN Urea Nitrogen, Serum</li>
                                <li>Calcium Total, Serum</li>
                                <li>Chlorides, Serum</li>
                                <li>Creatinine, Serum</li>
                                <li>Phosphorus-Inorganic, Serum</li>
                                <li>Potassium, Serum</li>
                                <li>Sodium, Serum</li>
                                <li>Urea, Serum</li>
                                <li>Uric Acid, Serum</li>
                                <li>BUN/Creatinine Ratio</li>
                                <li>Urea/Creatinine Ratio</li>
                                
                              
                            
                            </ul>
                        </div>
                    </div>
                    
                    
                    
                    
                    <div class="profile-main">
                        <div class="profile-list" style="cursor:pointer;">
                            <div>
                                <h1>Cholesterol</h1>
                                <p>Lipid profile is a panel of blood tests that is required to assess the risk of developing cardiovascular disease (CVD) and to monitor the effectiveness of its treatment by screening abnormalities in lipids, such as cholesterol and triglycerides. </p>
                                <div class="pricesection">
                                    <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 650/</h4>
                                    <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 300/-</h2>
                                </div>
                                
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="parameterlist">
                            <ul>
                                <li>Cholesterol-Total, Serum</li>
                                <li>HDL Cholesterol Direct</li>
                                <li>LDL Cholesterol -Direct</li>
                                <li>Triglycerides, Serum</li>
                                <li>Non - HDL Cholesterol, Serum</li>
                                <li>VLDL</li>
                                <li>LDL/HDL RATIO</li>
                                <li>CHOL/HDL RATIO</li>
                                <li>HDL / LDL Cholesterol Ratio</li>
                          
                            </ul>
                        </div>
                    </div>
                  
                    
                    
                    
                    <div class="profile-main">
                        <div class="profile-list" style="cursor:pointer;">
                            <div>
                                <h1>Vitamin-D</h1>
                                <p>The 25-hydroxy vitamin D test is used to detect bone weakness or other bone malfunctions or disorders that occur as a result of a vitamin D deficiency.  </p>
                                <div class="pricesection">
                                    <h4><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 1700/</h4>
                                    <h2><span class="fontrupee" style="font-weight:normal; padding:0px; padding-right:2px;">`</span> 700/-</h2>
                                </div>
                                
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="parameterlist">
                            <ul>
                                <li>Vitamin D Total-25 Hydroxy</li>
                               
                          
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <p style="font-size:16px; text-align:center; color:red;">* Collection Charges : Rs.200/- chargeable only for a booking less than Rs. 499/- scheduled between 06:00 AM - 10:00 AM</p>
    </div>
</div>
<!--scroller tests ends -->
<div class="usp-campaign">
    <div class="container-fluid mid-section-campaign">
        <div class="row">
            <div class="col-sm-12">
                <h2 style="text-align:center;">Why Healthians?</h2>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="home"></div>
                        <h4>FREE SAMPLE PICKUP</h4>
                        <p>Cost free sample pickup from Home or Office. </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="hands"></div>
                        <h4>HONEST PRICES</h4>
                        <p>Say NO to cuts & commissions.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="doc"></div>
                        <h4>FREE HEALTH COUNSELLING</h4>
                        <p>Professional Health Counselling.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="lab"></div>
                        <h4>GUARANTEED ACCURACY</h4>
                        <p>Money back guarantee on accuracy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!--sticky div mobile -->
<!--visible div -->
<div class="sticky-bottom">
    <form name="addLeadFormMobile" novalidate>
        <div class="overlay-visible" ng-show="showLeadMobileForm"></div>
        <div ng-class="showLeadMobileForm ? 'white-visible' : 'dark-visible'"> <a class="mob-close" href="javascript:void(0);" ng-click="hideTabOnMobileLead();" ng-show="showLeadMobileForm"><span aria-hidden="true" style="font-size: 42px; line-height: 10px;color: #ccc;">&times;</span></a>
            <div class="field-form">
                <input id="customerno" minlength="10" maxlength="10" name="customerno" type="text" class="mob-icon" placeholder="Enter your Mobile Number" ng-model="customerNo" ng-pattern="/^\d{10}$/" ng-class="{ 'has-error': ((addLeadFormMobile.customerno.$dirty && addLeadFormMobile.customerno.$error.required) || (addLeadFormSubmitted && !customerNo)) ||(addLeadFormMobile.customerno.$error.pattern && visited) }" ng-required="true" autocomplete="false" ng-click="tabOnMobileLead();" />
            </div>
            <div ng-show="((addLeadFormMobile.customerno.$dirty && addLeadFormMobile.customerno.$invalid) || (addLeadFormSubmitted && !addLeadFormMobile.customerno))" class="help-block"> <span ng-show="addLeadFormMobile.customerno.$error.required">Mobile No. is required</span> <span ng-show="addLeadFormMobile.customerno.$error.pattern && !addLeadFormMobile.customerno.$error.required && addLeadFormMobile.customerno.$touched"> Enter valid Mobile </span> </div>
            <div class="field-form" ng-show="showLeadMobileForm">
                <input name="name" id="name" type="text" class="user-icon" placeholder="Enter your Name" ng-required="true" ng-model="customerName" ng-class="{ 'has-error': ((addLeadFormMobile.name.$dirty && addLeadFormMobile.name.$error.required) || (addLeadFormSubmitted && !customerName)) ||(addLeadFormMobile.name.$error.pattern && visited) }" ng-pattern="/^[A-Za-z ]+$/" />
                <div ng-show="((addLeadFormMobile.name.$dirty && addLeadFormMobile.name.$invalid) || (addLeadFormSubmitted && !addLeadFormMobile.name))" class="help-block"> <span ng-show="addLeadFormMobile.name.$error.required">Name is required</span> <span ng-show="addLeadFormMobile.name.$error.pattern && !addLeadFormMobile.name.$error.required"> Enter valid Name </span> </div>
            </div>
            <div class="field-form" ng-show="showLeadMobileForm">
                <select class="form-select minimal" id="city" name="city" ng-model="City" ng-options="cities.city_id as cities.city_name for cities in cityList" ng-required="true" ng-class="{ 'has-error': ((addLeadFormMobile.city.$dirty && addLeadFormMobile.city.$error.required) || (addLeadFormSubmitted && !addLeadFormMobile.city)) }">
                    <option value="">Select your City</option>
                </select>
                <div ng-show="((addLeadFormMobile.city.$dirty && addLeadFormMobile.city.$invalid) || (addLeadFormSubmitted && !addLeadFormMobile.city))" class="help-block"> <span ng-show="addLeadFormMobile.city.$error.required">Please select city.</span> </div>
            </div>
            <div class="field-form" ng-show="showLeadMobileForm">
                <select class="form-select minimal" id="package" name="package" ng-model="PackageList" ng-required="true">
                    <option value="">Select Package</option>
                    <option value="Lipid">Lipid</option>
                    <option value="Liver">Liver</option>
                    <option value="Thyroid">Thyroid</option>
                    <option value="HbA1c">HbA1c</option>
                    <option value="Cholesterol">Cholesterol</option>
                    <option value="Vitamin D">Vitamin D</option>
                </select>
                <div ng-show="((addLeadFormMobile.package.$dirty && addLeadFormMobile.package.$invalid) || (addLeadFormSubmitted && !addLeadFormMobile.package))" class="help-block">
                    <span ng-show="addLeadFormMobile.package.$error.required">Please select Package.</span>
                </div>
            </div>
            <div class="field-form">
                <div id="capt_mobile_landing_page"></div>
            </div>  
            <div class="field-button">
                <input name="sendLandingMobileDetails" value="Get Free Call Now" type="button" ng-click="sendLandingMobileDetails();" analytics-on="click" analytics-category="Adword Campaign" analytics-event="Get Free Call Now" />
            </div>
        </div>
    </form>
    <!--visible div ends -->
    <!--invisible div -->
    <!--visible div ends -->
    <!--sticky div mobile ends -->
</div>
<!-- footer -->
<login-modal visible="compaignmsg">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div style="margin:0px auto; background:#fff; padding:30px 0px;">
        <div class="lead-pg-popup web-thankyou">
            <section>
                <h6>Thank You for sharing your details with us.</h6>
                <p>Our Customer Care Executive will get in contact with you and would help you choose the most suitable health package.
                </p>
            </section>
        </div>
    </div>
</login-modal>
<a href="javascript:void(0);" class="scrollup-campaign" analytics-on="click" analytics-category="Footer" analytics-event="Clicked Scroll-to-top image">Scroll</a>
<style type="text/css">
.zopim {
    display: none !important;
}
</style>
<script>
$(document).ready(function() {
    
    $(window).scroll(function() {
        if ($(this).scrollTop() > 250) {
            $('.scrollup-campaign').fadeIn();
        } else {
            $('.scrollup-campaign').fadeOut();
        }
    });
    $('.scrollup-campaign').click(function() {
        $("html, body").animate({
            scrollTop: 0
        }, 600);
        return false;
    });

    var isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
            return navigator.userAgent.match(/IEMobile/i);
        },
        any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
    };

    if (isMobile.any()) {
      $('.mob-slider-package').slick({
        dots: false,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 10000,
        speed:1000,
        slidesToShow: 2,
        slidesToScroll: 2,
        adaptiveHeight: false
      });

      $('.profile-slider').slick({
        dots: false,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 5000,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        adaptiveHeight: true
    });

    } else {
        $('.profile-slider').slick({
            dots: false,
            infinite: true,
            autoplay: true,
            autoplaySpeed: 5000,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 3,
            adaptiveHeight: true
        });

        $(".card")
            .mouseover(function() {
                $(this).find("p").addClass("colorwhite");
                $(this).find("div:eq(0)").css("background-position", '0px -44px');
            })
            .mouseout(function() {
                $(this).find("p").removeClass("colorwhite");
                $(this).find("div:eq(0)").css("background-position", '0px 0px');
            });
    }
});

 // var widgetId5;
 // var widgetId6;
 //    var onloadCallback = function() {
 //      setTimeout(function(){
 //        if(typeof grecaptcha !== 'undefined') {
 //          if($('#capt_landing').length) {
 //              widgetId5 = grecaptcha.render('capt_landing', {'sitekey' : '6LcqInUUAAAAAJYyfRX0gLFeuzieL4Sq7Q8rKGJy'});
 //          }

 //          if($('#capt_mobile_landing_page').length) {
 //              widgetId6 = grecaptcha.render('capt_mobile_landing_page', {'sitekey' : '6LcqInUUAAAAAJYyfRX0gLFeuzieL4Sq7Q8rKGJy'});
 //          }
 //        }
 //        else {
 //          setTimeout(function(){
 //            if($('#capt_landing').length) {
 //              widgetId5 = grecaptcha.render('capt_landing', {'sitekey' : '6LcqInUUAAAAAJYyfRX0gLFeuzieL4Sq7Q8rKGJy'});
 //            }

 //            if($('#capt_mobile_landing_page').length) {
 //                widgetId6 = grecaptcha.render('capt_mobile_landing_page', {'sitekey' : '6LcqInUUAAAAAJYyfRX0gLFeuzieL4Sq7Q8rKGJy'});
 //            }
 //          }, 500);
 //        }
 //      }, 500);
 //    }

</script>